In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
#setting the directory 
os.chdir("C:/Users/lenovo/Desktop/cute/train")

In [3]:
#reading the files 
train_data=pd.read_csv("Train-1542969243754.csv",na_values=["?",","])
train_claim_det=pd.read_csv("Train_ClaimDetails-1542969243754.csv",na_values=["?",","])
train_policy_demo=pd.read_csv("Train_Policy_Demographics-1542969243754.csv",na_values=["?",","])

In [4]:
#merging the train datas
injury=pd.merge(train_data,train_claim_det)
injury=pd.merge(injury,train_policy_demo)
injury.head()

,ClaimID,ClaimSize,Injury_Date,Date_reported,Age_Injured,Work_related_injury_status,Amputation,Death,Burns_heat,Burns_chemical,...,OtherCollateralSources,PolicyID,PolicyType,PolicyForm,Employment_status,BusinessClass,Perperson_Policylimit,PerOccurrence_PolicyLimit,CombinedSingleLimit,PolicyLimitPerInjury
0,CLM56529,lessthan100K,3/9/2000,2000-03-23,5900,N,NaN,NaN,NaN,NaN,...,NaN,P280529,1,1,Y,17,0,0,5000000,5000000
1,CLM66153,lessthan100K,12/6/2002,2002-12-10,3700,N,NaN,NaN,NaN,NaN,...,NaN,P290153,2,1,Y,9,0,5000000,0,5000000
2,CLM58861,lessthan100K,10/20/2000,2000-11-02,3700,N,NaN,NaN,NaN,NaN,...,NaN,P282861,2,1,Y,6,0,0,5000000,5000000
3,CLM67972,200KandAbove,8/9/2003,2003-08-11,1600,NaN,NaN,A,NaN,NaN,...,NaN,P291972,4,2,N,20,0,1000000,3000000,1000000
4,CLM69075,lessthan100K,2/25/2004,2004-02-26,5200,NaN,NaN,NaN,NaN,NaN,...,NaN,P293075,2,1,N,6,0,1000000,0,1000000

In [5]:
#checking for the structure of the data 
injury.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14417 entries, 0 to 14416
Data columns (total 65 columns):
ClaimID                                             14417 non-null object
ClaimSize                                           14417 non-null object
Injury_Date                                         14417 non-null object
Date_reported                                       14417 non-null object
Age_Injured                                         14417 non-null int64
Work_related_injury_status                          9367 non-null object
Amputation                                          151 non-null object
Death                                               1710 non-null object
Burns_heat                                          197 non-null object
Burns_chemical                                      67 non-null object
SystemicPoisoning_toxic                             51 non-null object
SystemicPoisoning_other                             28 non-null object
Eye_injury_blindness                                130 non-null object
RespiratoryCondition                                98 non-null object
NervousCondition                                    136 non-null object
HearingLoss                                         60 non-null object
CirculatoryCondition                                92 non-null object
MultipleInjuries                                    5160 non-null object
BackInjury                                          5708 non-null object
SkinDisorder                                        77 non-null object
BrainDamage                                         372 non-null object
Scarring                                            553 non-null object
SpinalCordInjuries                                  196 non-null object
OtherInjuries                                       3261 non-null object
OffRoadVehicle                                      151 non-null object
AirTransportation                                   6 non-null object
Railway                                             38 non-null object
OtherMotorVehicle                                   8968 non-null object
SurgicalCare                                        1527 non-null object
Falls                                               2014 non-null object
Drowning                                            33 non-null object
UseOfDefectiveProduct                               217 non-null object
Fire                                                86 non-null object
Firearm                                             33 non-null object
Pollution_ToxicExposure                             39 non-null object
Explosions                                          70 non-null object
UseOfAgrlMachinery                                  19 non-null object
Oil_gasExtraction                                   45 non-null object
OtherModeOfInjury                                   1487 non-null object
Non_economicloss                                    14417 non-null object
Exemplarydamages                                    14417 non-null object
WhetherPrimaFacie_JointandSeveralLiability          14417 non-null object
WorkersCompAvailability                             14417 non-null object
CollateralSourcesAvailability                       14417 non-null object
MedicalInsurance                                    2543 non-null object
DisabilityInsurance                                 165 non-null object
SocialSecurityBenefits                              172 non-null object
Medicare_Medicaid                                   860 non-null object
Anyothercontributors                                14417 non-null int64
AnyMultipleInterestedparties                        14417 non-null int64
Match_Multiclaimant_multiInterestedparties_claim    2755 non-null float64
PrimaFacie_percentagefault_injured                  14417 non-null int64
PrimaFacie_percentagefault_insured                  14417 non-null int64
PrimaFacie_percentagefault_otherinsured             14417 non-null int64
PrimaFacie_percentagefault_uninsured                14417 non-null int64
OtherCollateralSources                              225 non-null object
PolicyID                                            14417 non-null object
PolicyType                                          14417 non-null int64
PolicyForm                                          14417 non-null int64
Employment_status                                   14417 non-null object
BusinessClass                                       14417 non-null int64
Perperson_Policylimit                               14417 non-null int64
PerOccurrence_PolicyLimit                           14417 non-null int64
CombinedSingleLimit                                 14417 non-null int64
PolicyLimitPerInjury                                14417 non-null int64
dtypes: float64(1), int64(14), object(50)
memory usage: 7.3+ MB

In [6]:
#checking for the summary of the data 
injury.describe()

,Age_Injured,Anyothercontributors,AnyMultipleInterestedparties,Match_Multiclaimant_multiInterestedparties_claim,PrimaFacie_percentagefault_injured,PrimaFacie_percentagefault_insured,PrimaFacie_percentagefault_otherinsured,PrimaFacie_percentagefault_uninsured,PolicyType,PolicyForm,BusinessClass,Perperson_Policylimit,PerOccurrence_PolicyLimit,CombinedSingleLimit,PolicyLimitPerInjury
count,14417.000000,14417.000000,14417.00000,2755.000000,14417.000000,14417.000000,14417.000000,14417.000000,14417.000000,14417.000000,14417.000000,1.441700e+04,1.441700e+04,1.441700e+04,1.441700e+04
mean,4380.814316,1.194423,0.19588,0.201452,6.508219,87.336547,5.361518,0.782618,2.173476,1.083721,13.021294,1.088967e+05,5.543583e+05,1.141678e+06,1.515379e+06
std,1645.806843,0.395770,0.39689,0.546725,16.579278,24.473152,17.594942,6.793993,0.866071,0.276978,7.440415,1.229854e+06,1.607942e+06,4.300206e+06,4.497684e+06
min,1100.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+04
25%,3200.000000,1.000000,0.00000,0.000000,0.000000,90.000000,0.000000,0.000000,2.000000,1.000000,7.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+06
50%,4200.000000,1.000000,0.00000,0.000000,0.000000,100.000000,0.000000,0.000000,2.000000,1.000000,8.000000,0.000000e+00,0.000000e+00,1.000000e+06,1.000000e+06
75%,5400.000000,1.000000,0.00000,0.000000,0.000000,100.000000,0.000000,0.000000,2.000000,1.000000,19.000000,0.000000e+00,1.000000e+06,1.000000e+06,1.000000e+06
max,10000.000000,2.000000,1.00000,2.000000,100.000000,100.000000,100.000000,100.000000,5.000000,2.000000,26.000000,1.000000e+08,1.000000e+08,1.000001e+08,1.000001e+08

In [7]:
#checking for the dimension of the data
np.shape(injury)

(14417, 65)

In [8]:
#Checking for the null values and drop some columns
injury.isna().sum()
injury.drop("ClaimID",axis=1,inplace=True)
injury.drop("PolicyType",axis=1,inplace=True)
injury.drop("PolicyForm",axis=1,inplace=True)
injury.drop("PolicyID",axis=1,inplace=True)
injury.drop("Match_Multiclaimant_multiInterestedparties_claim",axis=1,inplace=True)
injury.drop("OtherCollateralSources",axis=1,inplace=True)

In [9]:
#diving age by 100 
injury["Age_Injured"]=(injury["Age_Injured"])/100

In [10]:
injury

,ClaimSize,Injury_Date,Date_reported,Age_Injured,Work_related_injury_status,Amputation,Death,Burns_heat,Burns_chemical,SystemicPoisoning_toxic,...,PrimaFacie_percentagefault_injured,PrimaFacie_percentagefault_insured,PrimaFacie_percentagefault_otherinsured,PrimaFacie_percentagefault_uninsured,Employment_status,BusinessClass,Perperson_Policylimit,PerOccurrence_PolicyLimit,CombinedSingleLimit,PolicyLimitPerInjury
0,lessthan100K,3/9/2000,2000-03-23,59.0,N,NaN,NaN,NaN,NaN,NaN,...,50,50,0,0,Y,17,0,0,5000000,5000000
1,lessthan100K,12/6/2002,2002-12-10,37.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,9,0,5000000,0,5000000
2,lessthan100K,10/20/2000,2000-11-02,37.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,6,0,0,5000000,5000000
3,200KandAbove,8/9/2003,2003-08-11,16.0,NaN,NaN,A,NaN,NaN,NaN,...,0,50,50,0,N,20,0,1000000,3000000,1000000
4,lessthan100K,2/25/2004,2004-02-26,52.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,N,6,0,1000000,0,1000000
5,lessthan100K,1/25/1998,1998-01-26,55.0,NaN,NaN,NaN,NaN,NaN,NaN,...,10,90,0,0,N,26,0,2000000,0,2000000
6,200KandAbove,6/12/2001,2001-06-12,48.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,N,8,0,0,1000000,1000000
7,200KandAbove,8/5/2003,2003-09-02,77.0,NaN,NaN,A,NaN,NaN,NaN,...,0,100,0,0,N,19,0,200000,0,200000
8,200KandAbove,7/23/2001,2001-07-24,23.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,N,7,0,0,300115,300115
9,lessthan100K,2/2/2001,2001-02-05,51.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,N,7,1000000,1000000,1000000,1000000
10,lessthan100K,5/4/2004,2004-05-11,67.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,14,0,0,1000000,1000000
11,lessthan100K,1/21/2001,2001-01-30,78.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,N,14,0,0,1000000,1000000
12,100K-lessthan200K,4/3/2002,2002-04-03,18.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,7,1000000,0,0,1000000
13,100K-lessthan200K,5/5/2001,2001-09-04,14.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,N,13,0,0,300000,300000
14,lessthan100K,11/16/1998,1998-11-19,55.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,8,0,1000000,0,1000000
15,lessthan100K,1/3/2003,2003-09-22,23.0,N,NaN,A,NaN,NaN,NaN,...,0,10,0,90,Y,8,0,0,1000000,1000000
16,200KandAbove,4/13/1999,1999-12-27,20.0,Y,NaN,A,NaN,NaN,NaN,...,45,55,0,0,Y,14,0,1000000,0,1000000
17,100K-lessthan200K,12/19/1997,1997-12-22,40.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,6,0,500000,500000,500000
18,lessthan100K,6/6/2000,2000-06-09,55.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,7,0,0,1000025,1000025
19,lessthan100K,4/26/2004,2004-04-27,24.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,14,0,0,55025,55025
20,lessthan100K,6/15/2003,2003-08-22,73.0,NaN,NaN,A,NaN,NaN,NaN,...,0,100,0,0,N,19,0,200000,0,200000
21,100K-lessthan200K,5/6/2002,2002-05-06,62.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,N,8,0,1000000,0,1000000
22,200KandAbove,1/24/2002,2002-01-24,37.0,Y,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,7,0,0,1000000,1000000
23,lessthan100K,2/26/2005,2005-02-28,40.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,14,0,1000000,1000000,1000000
24,100K-lessthan200K,1/18/2002,2002-02-21,31.0,Y,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,8,0,0,1000000,1000000
25,lessthan100K,5/26/2002,2002-06-07,18.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,7,0,0,1000000,1000000
26,lessthan100K,7/6/2001,2001-07-10,27.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,N,15,0,1000000,0,1000000
27,lessthan100K,10/13/2001,2001-10-16,13.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,N,7,0,0,1000069,1000069
28,100K-lessthan200K,9/25/1999,2000-03-27,67.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,26,0,5000000,0,5000000
29,200KandAbove,8/13/1998,1999-04-29,38.0,Y,NaN,NaN,C,NaN,NaN,...,0,85,15,0,Y,14,0,500000,0,500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14387,lessthan100K,4/28/2003,2003-04-30,23.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,9,0,0,1000000,1000000
14388,lessthan100K,10/23/1998,1998-12-03,62.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,70,30,0,N,19,0,1000000,0,1000000
14389,200KandAbove,4/6/1999,1999-09-08,37.0,N,NaN,A,NaN,NaN,NaN,...,0,100,0,0,Y,7,0,0,1000000,1000000
14390,200KandAbove,9/28/1998,1998-09-29,40.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,8,0,0,1000000,1000000
14391,100K-lessthan200K,12/10/1998,1998-12-10,66.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,4,1000000,0,0,1000000
14392,lessthan100K,6/26/1998,1998-06-29,11.0,NaN,NaN,A,NaN,NaN,NaN,...,0,100,0,0,N,18,20000,40000,0,20000
14393,lessthan100K,3/12/2003,2003-08-29,35.0,NaN,NaN,NaN,NaN,NaN,NaN,...,50,50,0,0,N,26,0,1000000,0,1000000
14394,100K-lessthan200K,2/12/1999,1999-09-30,38.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,N,8,0,0,50000000,50000000
14395,lessthan100K,9/10/1999,1999-09-21,26.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,7,0,0,1000000,1000000
14396,100K-lessthan200K,8/15/2004,2004-08-30,65.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,26,0,0,1000000,1000000
14397,lessthan100K,4/27/2001,2001-10-18,46.0,Y,NaN,NaN,NaN,NaN,NaN,...,30,10,60,0,Y,26,0,300000,300000,300000
14398,lessthan100K,5/16/2000,2000-05-23,28.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,25,75,0,N,22,0,5000000,0,5000000
14399,lessthan100K,5/11/2001,2001-05-11,35.0,Y,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,7,0,0,1000000,1000000
14400,200KandAbove,6/14/2002,2002-06-14,79.0,NaN,NaN,A,NaN,NaN,NaN,...,0,100,0,0,N,7,0,0,500001,500001
14401,100K-lessthan200K,4/1/2001,2001-04-04,71.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,N,13,0,2000000,0,2000000
14402,200KandAbove,6/5/1999,1999-06-10,23.0,N,NaN,A,NaN,NaN,NaN,...,0,100,0,0,Y,6,0,0,300000,300000
14403,lessthan100K,10/7/1998,1999-01-21,13.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,N,26,0,1000000,1000000,1000000
14404,lessthan100K,3/12/1999,1999-04-22,28.0,N,NaN,NaN,NaN,NaN,NaN,...,50,50,0,0,Y,7,0,0,1000000,1000000
14405,lessthan100K,7/22/2002,2002-07-26,54.0,Y,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,7,0,1000000,1000000,1000000
14406,100K-lessthan200K,8/10/2000,2000-08-11,60.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,14,0,1000000,0,1000000
14407,100K-lessthan200K,7/7/1997,1997-07-08,19.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,N,7,0,0,1000000,1000000
14408,lessthan100K,5/24/2002,2002-05-28,44.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,N,7,0,0,1000000,1000000
14409,lessthan100K,3/6/1997,1997-04-23,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,10,90,0,0,N,9,0,300000,0,300000
14410,100K-lessthan200K,10/26/1998,1998-10-27,43.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,8,0,0,1000000,1000000
14411,lessthan100K,11/14/2002,2002-11-21,82.0,NaN,NaN,NaN,NaN,NaN,E,...,0,100,0,0,N,8,0,500000,0,500000
14412,100K-lessthan200K,2/13/1998,1998-02-17,43.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,8,0,0,1000000,1000000
14413,200KandAbove,8/4/2002,2003-01-10,52.0,N,NaN,A,NaN,NaN,NaN,...,0,0,100,0,Y,14,0,1000000,0,1000000
14414,100K-lessthan200K,10/3/2001,2001-10-04,61.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,7,0,0,1000025,1000025
14415,lessthan100K,3/18/2003,2004-02-02,47.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,26,0,1000000,0,1000000
14416,200KandAbove,3/12/2002,2002-03-13,14.0,NaN,NaN,A,NaN,NaN,NaN,...,0,100,0,0,N,7,0,500002,0,500002

In [11]:
injury.isna().sum()

ClaimSize                                         0
Injury_Date                                       0
Date_reported                                     0
Age_Injured                                       0
Work_related_injury_status                     5050
Amputation                                    14266
Death                                         12707
Burns_heat                                    14220
Burns_chemical                                14350
SystemicPoisoning_toxic                       14366
SystemicPoisoning_other                       14389
Eye_injury_blindness                          14287
RespiratoryCondition                          14319
NervousCondition                              14281
HearingLoss                                   14357
CirculatoryCondition                          14325
MultipleInjuries                               9257
BackInjury                                     8709
SkinDisorder                                  14340
BrainDamage                                   14045
Scarring                                      13864
SpinalCordInjuries                            14221
OtherInjuries                                 11156
OffRoadVehicle                                14266
AirTransportation                             14411
Railway                                       14379
OtherMotorVehicle                              5449
SurgicalCare                                  12890
Falls                                         12403
Drowning                                      14384
UseOfDefectiveProduct                         14200
Fire                                          14331
Firearm                                       14384
Pollution_ToxicExposure                       14378
Explosions                                    14347
UseOfAgrlMachinery                            14398
Oil_gasExtraction                             14372
OtherModeOfInjury                             12930
Non_economicloss                                  0
Exemplarydamages                                  0
WhetherPrimaFacie_JointandSeveralLiability        0
WorkersCompAvailability                           0
CollateralSourcesAvailability                     0
MedicalInsurance                              11874
DisabilityInsurance                           14252
SocialSecurityBenefits                        14245
Medicare_Medicaid                             13557
Anyothercontributors                              0
AnyMultipleInterestedparties                      0
PrimaFacie_percentagefault_injured                0
PrimaFacie_percentagefault_insured                0
PrimaFacie_percentagefault_otherinsured           0
PrimaFacie_percentagefault_uninsured              0
Employment_status                                 0
BusinessClass                                     0
Perperson_Policylimit                             0
PerOccurrence_PolicyLimit                         0
CombinedSingleLimit                               0
PolicyLimitPerInjury                              0
dtype: int64

In [12]:
injury.head()

,ClaimSize,Injury_Date,Date_reported,Age_Injured,Work_related_injury_status,Amputation,Death,Burns_heat,Burns_chemical,SystemicPoisoning_toxic,...,PrimaFacie_percentagefault_injured,PrimaFacie_percentagefault_insured,PrimaFacie_percentagefault_otherinsured,PrimaFacie_percentagefault_uninsured,Employment_status,BusinessClass,Perperson_Policylimit,PerOccurrence_PolicyLimit,CombinedSingleLimit,PolicyLimitPerInjury
0,lessthan100K,3/9/2000,2000-03-23,59.0,N,NaN,NaN,NaN,NaN,NaN,...,50,50,0,0,Y,17,0,0,5000000,5000000
1,lessthan100K,12/6/2002,2002-12-10,37.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,9,0,5000000,0,5000000
2,lessthan100K,10/20/2000,2000-11-02,37.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,6,0,0,5000000,5000000
3,200KandAbove,8/9/2003,2003-08-11,16.0,NaN,NaN,A,NaN,NaN,NaN,...,0,50,50,0,N,20,0,1000000,3000000,1000000
4,lessthan100K,2/25/2004,2004-02-26,52.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,N,6,0,1000000,0,1000000

In [13]:
injury.tail()

,ClaimSize,Injury_Date,Date_reported,Age_Injured,Work_related_injury_status,Amputation,Death,Burns_heat,Burns_chemical,SystemicPoisoning_toxic,...,PrimaFacie_percentagefault_injured,PrimaFacie_percentagefault_insured,PrimaFacie_percentagefault_otherinsured,PrimaFacie_percentagefault_uninsured,Employment_status,BusinessClass,Perperson_Policylimit,PerOccurrence_PolicyLimit,CombinedSingleLimit,PolicyLimitPerInjury
14412,100K-lessthan200K,2/13/1998,1998-02-17,43.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,8,0,0,1000000,1000000
14413,200KandAbove,8/4/2002,2003-01-10,52.0,N,NaN,A,NaN,NaN,NaN,...,0,0,100,0,Y,14,0,1000000,0,1000000
14414,100K-lessthan200K,10/3/2001,2001-10-04,61.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,7,0,0,1000025,1000025
14415,lessthan100K,3/18/2003,2004-02-02,47.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,26,0,1000000,0,1000000
14416,200KandAbove,3/12/2002,2002-03-13,14.0,NaN,NaN,A,NaN,NaN,NaN,...,0,100,0,0,N,7,0,500002,0,500002

In [14]:
injury2 =injury.copy()

In [15]:
injury2.head()

,ClaimSize,Injury_Date,Date_reported,Age_Injured,Work_related_injury_status,Amputation,Death,Burns_heat,Burns_chemical,SystemicPoisoning_toxic,...,PrimaFacie_percentagefault_injured,PrimaFacie_percentagefault_insured,PrimaFacie_percentagefault_otherinsured,PrimaFacie_percentagefault_uninsured,Employment_status,BusinessClass,Perperson_Policylimit,PerOccurrence_PolicyLimit,CombinedSingleLimit,PolicyLimitPerInjury
0,lessthan100K,3/9/2000,2000-03-23,59.0,N,NaN,NaN,NaN,NaN,NaN,...,50,50,0,0,Y,17,0,0,5000000,5000000
1,lessthan100K,12/6/2002,2002-12-10,37.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,9,0,5000000,0,5000000
2,lessthan100K,10/20/2000,2000-11-02,37.0,N,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,Y,6,0,0,5000000,5000000
3,200KandAbove,8/9/2003,2003-08-11,16.0,NaN,NaN,A,NaN,NaN,NaN,...,0,50,50,0,N,20,0,1000000,3000000,1000000
4,lessthan100K,2/25/2004,2004-02-26,52.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,100,0,0,N,6,0,1000000,0,1000000

In [16]:
injury2.fillna(0,inplace=True)

In [17]:
injury2

,ClaimSize,Injury_Date,Date_reported,Age_Injured,Work_related_injury_status,Amputation,Death,Burns_heat,Burns_chemical,SystemicPoisoning_toxic,...,PrimaFacie_percentagefault_injured,PrimaFacie_percentagefault_insured,PrimaFacie_percentagefault_otherinsured,PrimaFacie_percentagefault_uninsured,Employment_status,BusinessClass,Perperson_Policylimit,PerOccurrence_PolicyLimit,CombinedSingleLimit,PolicyLimitPerInjury
0,lessthan100K,3/9/2000,2000-03-23,59.0,N,0,0,0,0,0,...,50,50,0,0,Y,17,0,0,5000000,5000000
1,lessthan100K,12/6/2002,2002-12-10,37.0,N,0,0,0,0,0,...,0,100,0,0,Y,9,0,5000000,0,5000000
2,lessthan100K,10/20/2000,2000-11-02,37.0,N,0,0,0,0,0,...,0,100,0,0,Y,6,0,0,5000000,5000000
3,200KandAbove,8/9/2003,2003-08-11,16.0,0,0,A,0,0,0,...,0,50,50,0,N,20,0,1000000,3000000,1000000
4,lessthan100K,2/25/2004,2004-02-26,52.0,0,0,0,0,0,0,...,0,100,0,0,N,6,0,1000000,0,1000000
5,lessthan100K,1/25/1998,1998-01-26,55.0,0,0,0,0,0,0,...,10,90,0,0,N,26,0,2000000,0,2000000
6,200KandAbove,6/12/2001,2001-06-12,48.0,0,0,0,0,0,0,...,0,100,0,0,N,8,0,0,1000000,1000000
7,200KandAbove,8/5/2003,2003-09-02,77.0,0,0,A,0,0,0,...,0,100,0,0,N,19,0,200000,0,200000
8,200KandAbove,7/23/2001,2001-07-24,23.0,0,0,0,0,0,0,...,0,100,0,0,N,7,0,0,300115,300115
9,lessthan100K,2/2/2001,2001-02-05,51.0,0,0,0,0,0,0,...,0,100,0,0,N,7,1000000,1000000,1000000,1000000
10,lessthan100K,5/4/2004,2004-05-11,67.0,N,0,0,0,0,0,...,0,100,0,0,Y,14,0,0,1000000,1000000
11,lessthan100K,1/21/2001,2001-01-30,78.0,0,0,0,0,0,0,...,0,100,0,0,N,14,0,0,1000000,1000000
12,100K-lessthan200K,4/3/2002,2002-04-03,18.0,N,0,0,0,0,0,...,0,100,0,0,Y,7,1000000,0,0,1000000
13,100K-lessthan200K,5/5/2001,2001-09-04,14.0,0,0,0,0,0,0,...,0,100,0,0,N,13,0,0,300000,300000
14,lessthan100K,11/16/1998,1998-11-19,55.0,N,0,0,0,0,0,...,0,100,0,0,Y,8,0,1000000,0,1000000
15,lessthan100K,1/3/2003,2003-09-22,23.0,N,0,A,0,0,0,...,0,10,0,90,Y,8,0,0,1000000,1000000
16,200KandAbove,4/13/1999,1999-12-27,20.0,Y,0,A,0,0,0,...,45,55,0,0,Y,14,0,1000000,0,1000000
17,100K-lessthan200K,12/19/1997,1997-12-22,40.0,N,0,0,0,0,0,...,0,100,0,0,Y,6,0,500000,500000,500000
18,lessthan100K,6/6/2000,2000-06-09,55.0,N,0,0,0,0,0,...,0,100,0,0,Y,7,0,0,1000025,1000025
19,lessthan100K,4/26/2004,2004-04-27,24.0,N,0,0,0,0,0,...,0,100,0,0,Y,14,0,0,55025,55025
20,lessthan100K,6/15/2003,2003-08-22,73.0,0,0,A,0,0,0,...,0,100,0,0,N,19,0,200000,0,200000
21,100K-lessthan200K,5/6/2002,2002-05-06,62.0,0,0,0,0,0,0,...,0,100,0,0,N,8,0,1000000,0,1000000
22,200KandAbove,1/24/2002,2002-01-24,37.0,Y,0,0,0,0,0,...,0,100,0,0,Y,7,0,0,1000000,1000000
23,lessthan100K,2/26/2005,2005-02-28,40.0,N,0,0,0,0,0,...,0,100,0,0,Y,14,0,1000000,1000000,1000000
24,100K-lessthan200K,1/18/2002,2002-02-21,31.0,Y,0,0,0,0,0,...,0,100,0,0,Y,8,0,0,1000000,1000000
25,lessthan100K,5/26/2002,2002-06-07,18.0,N,0,0,0,0,0,...,0,100,0,0,Y,7,0,0,1000000,1000000
26,lessthan100K,7/6/2001,2001-07-10,27.0,0,0,0,0,0,0,...,0,100,0,0,N,15,0,1000000,0,1000000
27,lessthan100K,10/13/2001,2001-10-16,13.0,0,0,0,0,0,0,...,0,100,0,0,N,7,0,0,1000069,1000069
28,100K-lessthan200K,9/25/1999,2000-03-27,67.0,N,0,0,0,0,0,...,0,100,0,0,Y,26,0,5000000,0,5000000
29,200KandAbove,8/13/1998,1999-04-29,38.0,Y,0,0,C,0,0,...,0,85,15,0,Y,14,0,500000,0,500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14387,lessthan100K,4/28/2003,2003-04-30,23.0,N,0,0,0,0,0,...,0,100,0,0,Y,9,0,0,1000000,1000000
14388,lessthan100K,10/23/1998,1998-12-03,62.0,0,0,0,0,0,0,...,0,70,30,0,N,19,0,1000000,0,1000000
14389,200KandAbove,4/6/1999,1999-09-08,37.0,N,0,A,0,0,0,...,0,100,0,0,Y,7,0,0,1000000,1000000
14390,200KandAbove,9/28/1998,1998-09-29,40.0,N,0,0,0,0,0,...,0,100,0,0,Y,8,0,0,1000000,1000000
14391,100K-lessthan200K,12/10/1998,1998-12-10,66.0,N,0,0,0,0,0,...,0,100,0,0,Y,4,1000000,0,0,1000000
14392,lessthan100K,6/26/1998,1998-06-29,11.0,0,0,A,0,0,0,...,0,100,0,0,N,18,20000,40000,0,20000
14393,lessthan100K,3/12/2003,2003-08-29,35.0,0,0,0,0,0,0,...,50,50,0,0,N,26,0,1000000,0,1000000
14394,100K-lessthan200K,2/12/1999,1999-09-30,38.0,0,0,0,0,0,0,...,0,100,0,0,N,8,0,0,50000000,50000000
14395,lessthan100K,9/10/1999,1999-09-21,26.0,N,0,0,0,0,0,...,0,100,0,0,Y,7,0,0,1000000,1000000
14396,100K-lessthan200K,8/15/2004,2004-08-30,65.0,N,0,0,0,0,0,...,0,100,0,0,Y,26,0,0,1000000,1000000
14397,lessthan100K,4/27/2001,2001-10-18,46.0,Y,0,0,0,0,0,...,30,10,60,0,Y,26,0,300000,300000,300000
14398,lessthan100K,5/16/2000,2000-05-23,28.0,0,0,0,0,0,0,...,0,25,75,0,N,22,0,5000000,0,5000000
14399,lessthan100K,5/11/2001,2001-05-11,35.0,Y,0,0,0,0,0,...,0,100,0,0,Y,7,0,0,1000000,1000000
14400,200KandAbove,6/14/2002,2002-06-14,79.0,0,0,A,0,0,0,...,0,100,0,0,N,7,0,0,500001,500001
14401,100K-lessthan200K,4/1/2001,2001-04-04,71.0,0,0,0,0,0,0,...,0,100,0,0,N,13,0,2000000,0,2000000
14402,200KandAbove,6/5/1999,1999-06-10,23.0,N,0,A,0,0,0,...,0,100,0,0,Y,6,0,0,300000,300000
14403,lessthan100K,10/7/1998,1999-01-21,13.0,0,0,0,0,0,0,...,0,100,0,0,N,26,0,1000000,1000000,1000000
14404,lessthan100K,3/12/1999,1999-04-22,28.0,N,0,0,0,0,0,...,50,50,0,0,Y,7,0,0,1000000,1000000
14405,lessthan100K,7/22/2002,2002-07-26,54.0,Y,0,0,0,0,0,...,0,100,0,0,Y,7,0,1000000,1000000,1000000
14406,100K-lessthan200K,8/10/2000,2000-08-11,60.0,N,0,0,0,0,0,...,0,100,0,0,Y,14,0,1000000,0,1000000
14407,100K-lessthan200K,7/7/1997,1997-07-08,19.0,0,0,0,0,0,0,...,0,100,0,0,N,7,0,0,1000000,1000000
14408,lessthan100K,5/24/2002,2002-05-28,44.0,0,0,0,0,0,0,...,0,100,0,0,N,7,0,0,1000000,1000000
14409,lessthan100K,3/6/1997,1997-04-23,11.0,0,0,0,0,0,0,...,10,90,0,0,N,9,0,300000,0,300000
14410,100K-lessthan200K,10/26/1998,1998-10-27,43.0,N,0,0,0,0,0,...,0,100,0,0,Y,8,0,0,1000000,1000000
14411,lessthan100K,11/14/2002,2002-11-21,82.0,0,0,0,0,0,E,...,0,100,0,0,N,8,0,500000,0,500000
14412,100K-lessthan200K,2/13/1998,1998-02-17,43.0,N,0,0,0,0,0,...,0,100,0,0,Y,8,0,0,1000000,1000000
14413,200KandAbove,8/4/2002,2003-01-10,52.0,N,0,A,0,0,0,...,0,0,100,0,Y,14,0,1000000,0,1000000
14414,100K-lessthan200K,10/3/2001,2001-10-04,61.0,N,0,0,0,0,0,...,0,100,0,0,Y,7,0,0,1000025,1000025
14415,lessthan100K,3/18/2003,2004-02-02,47.0,N,0,0,0,0,0,...,0,100,0,0,Y,26,0,1000000,0,1000000
14416,200KandAbove,3/12/2002,2002-03-13,14.0,0,0,A,0,0,0,...,0,100,0,0,N,7,0,500002,0,500002

In [18]:
injury2.drop('Date_reported',axis=1,inplace=True)
injury2.drop('Injury_Date',axis=1,inplace=True)
#injury2.drop('ClaimSize',axis=1,inplace=True)

In [19]:
injury2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14417 entries, 0 to 14416
Data columns (total 57 columns):
ClaimSize                                     14417 non-null object
Age_Injured                                   14417 non-null float64
Work_related_injury_status                    14417 non-null object
Amputation                                    14417 non-null object
Death                                         14417 non-null object
Burns_heat                                    14417 non-null object
Burns_chemical                                14417 non-null object
SystemicPoisoning_toxic                       14417 non-null object
SystemicPoisoning_other                       14417 non-null object
Eye_injury_blindness                          14417 non-null object
RespiratoryCondition                          14417 non-null object
NervousCondition                              14417 non-null object
HearingLoss                                   14417 non-null object
CirculatoryCondition                          14417 non-null object
MultipleInjuries                              14417 non-null object
BackInjury                                    14417 non-null object
SkinDisorder                                  14417 non-null object
BrainDamage                                   14417 non-null object
Scarring                                      14417 non-null object
SpinalCordInjuries                            14417 non-null object
OtherInjuries                                 14417 non-null object
OffRoadVehicle                                14417 non-null object
AirTransportation                             14417 non-null object
Railway                                       14417 non-null object
OtherMotorVehicle                             14417 non-null object
SurgicalCare                                  14417 non-null object
Falls                                         14417 non-null object
Drowning                                      14417 non-null object
UseOfDefectiveProduct                         14417 non-null object
Fire                                          14417 non-null object
Firearm                                       14417 non-null object
Pollution_ToxicExposure                       14417 non-null object
Explosions                                    14417 non-null object
UseOfAgrlMachinery                            14417 non-null object
Oil_gasExtraction                             14417 non-null object
OtherModeOfInjury                             14417 non-null object
Non_economicloss                              14417 non-null object
Exemplarydamages                              14417 non-null object
WhetherPrimaFacie_JointandSeveralLiability    14417 non-null object
WorkersCompAvailability                       14417 non-null object
CollateralSourcesAvailability                 14417 non-null object
MedicalInsurance                              14417 non-null object
DisabilityInsurance                           14417 non-null object
SocialSecurityBenefits                        14417 non-null object
Medicare_Medicaid                             14417 non-null object
Anyothercontributors                          14417 non-null int64
AnyMultipleInterestedparties                  14417 non-null int64
PrimaFacie_percentagefault_injured            14417 non-null int64
PrimaFacie_percentagefault_insured            14417 non-null int64
PrimaFacie_percentagefault_otherinsured       14417 non-null int64
PrimaFacie_percentagefault_uninsured          14417 non-null int64
Employment_status                             14417 non-null object
BusinessClass                                 14417 non-null int64
Perperson_Policylimit                         14417 non-null int64
PerOccurrence_PolicyLimit                     14417 non-null int64
CombinedSingleLimit                           14417 non-null int64
PolicyLimitPerInjury                          14417 non-null int64
dtypes: float64(1), int64(11), object(45)
memory usage: 6.4+ MB

In [20]:
injury2

,ClaimSize,Age_Injured,Work_related_injury_status,Amputation,Death,Burns_heat,Burns_chemical,SystemicPoisoning_toxic,SystemicPoisoning_other,Eye_injury_blindness,...,PrimaFacie_percentagefault_injured,PrimaFacie_percentagefault_insured,PrimaFacie_percentagefault_otherinsured,PrimaFacie_percentagefault_uninsured,Employment_status,BusinessClass,Perperson_Policylimit,PerOccurrence_PolicyLimit,CombinedSingleLimit,PolicyLimitPerInjury
0,lessthan100K,59.0,N,0,0,0,0,0,0,0,...,50,50,0,0,Y,17,0,0,5000000,5000000
1,lessthan100K,37.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,9,0,5000000,0,5000000
2,lessthan100K,37.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,6,0,0,5000000,5000000
3,200KandAbove,16.0,0,0,A,0,0,0,0,0,...,0,50,50,0,N,20,0,1000000,3000000,1000000
4,lessthan100K,52.0,0,0,0,0,0,0,0,0,...,0,100,0,0,N,6,0,1000000,0,1000000
5,lessthan100K,55.0,0,0,0,0,0,0,0,0,...,10,90,0,0,N,26,0,2000000,0,2000000
6,200KandAbove,48.0,0,0,0,0,0,0,0,0,...,0,100,0,0,N,8,0,0,1000000,1000000
7,200KandAbove,77.0,0,0,A,0,0,0,0,0,...,0,100,0,0,N,19,0,200000,0,200000
8,200KandAbove,23.0,0,0,0,0,0,0,0,0,...,0,100,0,0,N,7,0,0,300115,300115
9,lessthan100K,51.0,0,0,0,0,0,0,0,0,...,0,100,0,0,N,7,1000000,1000000,1000000,1000000
10,lessthan100K,67.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,14,0,0,1000000,1000000
11,lessthan100K,78.0,0,0,0,0,0,0,0,0,...,0,100,0,0,N,14,0,0,1000000,1000000
12,100K-lessthan200K,18.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,7,1000000,0,0,1000000
13,100K-lessthan200K,14.0,0,0,0,0,0,0,0,0,...,0,100,0,0,N,13,0,0,300000,300000
14,lessthan100K,55.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,8,0,1000000,0,1000000
15,lessthan100K,23.0,N,0,A,0,0,0,0,0,...,0,10,0,90,Y,8,0,0,1000000,1000000
16,200KandAbove,20.0,Y,0,A,0,0,0,0,0,...,45,55,0,0,Y,14,0,1000000,0,1000000
17,100K-lessthan200K,40.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,6,0,500000,500000,500000
18,lessthan100K,55.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,7,0,0,1000025,1000025
19,lessthan100K,24.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,14,0,0,55025,55025
20,lessthan100K,73.0,0,0,A,0,0,0,0,0,...,0,100,0,0,N,19,0,200000,0,200000
21,100K-lessthan200K,62.0,0,0,0,0,0,0,0,0,...,0,100,0,0,N,8,0,1000000,0,1000000
22,200KandAbove,37.0,Y,0,0,0,0,0,0,0,...,0,100,0,0,Y,7,0,0,1000000,1000000
23,lessthan100K,40.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,14,0,1000000,1000000,1000000
24,100K-lessthan200K,31.0,Y,0,0,0,0,0,0,0,...,0,100,0,0,Y,8,0,0,1000000,1000000
25,lessthan100K,18.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,7,0,0,1000000,1000000
26,lessthan100K,27.0,0,0,0,0,0,0,0,0,...,0,100,0,0,N,15,0,1000000,0,1000000
27,lessthan100K,13.0,0,0,0,0,0,0,0,0,...,0,100,0,0,N,7,0,0,1000069,1000069
28,100K-lessthan200K,67.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,26,0,5000000,0,5000000
29,200KandAbove,38.0,Y,0,0,C,0,0,0,0,...,0,85,15,0,Y,14,0,500000,0,500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14387,lessthan100K,23.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,9,0,0,1000000,1000000
14388,lessthan100K,62.0,0,0,0,0,0,0,0,0,...,0,70,30,0,N,19,0,1000000,0,1000000
14389,200KandAbove,37.0,N,0,A,0,0,0,0,0,...,0,100,0,0,Y,7,0,0,1000000,1000000
14390,200KandAbove,40.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,8,0,0,1000000,1000000
14391,100K-lessthan200K,66.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,4,1000000,0,0,1000000
14392,lessthan100K,11.0,0,0,A,0,0,0,0,0,...,0,100,0,0,N,18,20000,40000,0,20000
14393,lessthan100K,35.0,0,0,0,0,0,0,0,0,...,50,50,0,0,N,26,0,1000000,0,1000000
14394,100K-lessthan200K,38.0,0,0,0,0,0,0,0,0,...,0,100,0,0,N,8,0,0,50000000,50000000
14395,lessthan100K,26.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,7,0,0,1000000,1000000
14396,100K-lessthan200K,65.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,26,0,0,1000000,1000000
14397,lessthan100K,46.0,Y,0,0,0,0,0,0,0,...,30,10,60,0,Y,26,0,300000,300000,300000
14398,lessthan100K,28.0,0,0,0,0,0,0,0,0,...,0,25,75,0,N,22,0,5000000,0,5000000
14399,lessthan100K,35.0,Y,0,0,0,0,0,0,0,...,0,100,0,0,Y,7,0,0,1000000,1000000
14400,200KandAbove,79.0,0,0,A,0,0,0,0,0,...,0,100,0,0,N,7,0,0,500001,500001
14401,100K-lessthan200K,71.0,0,0,0,0,0,0,0,0,...,0,100,0,0,N,13,0,2000000,0,2000000
14402,200KandAbove,23.0,N,0,A,0,0,0,0,0,...,0,100,0,0,Y,6,0,0,300000,300000
14403,lessthan100K,13.0,0,0,0,0,0,0,0,0,...,0,100,0,0,N,26,0,1000000,1000000,1000000
14404,lessthan100K,28.0,N,0,0,0,0,0,0,0,...,50,50,0,0,Y,7,0,0,1000000,1000000
14405,lessthan100K,54.0,Y,0,0,0,0,0,0,0,...,0,100,0,0,Y,7,0,1000000,1000000,1000000
14406,100K-lessthan200K,60.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,14,0,1000000,0,1000000
14407,100K-lessthan200K,19.0,0,0,0,0,0,0,0,0,...,0,100,0,0,N,7,0,0,1000000,1000000
14408,lessthan100K,44.0,0,0,0,0,0,0,0,0,...,0,100,0,0,N,7,0,0,1000000,1000000
14409,lessthan100K,11.0,0,0,0,0,0,0,0,0,...,10,90,0,0,N,9,0,300000,0,300000
14410,100K-lessthan200K,43.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,8,0,0,1000000,1000000
14411,lessthan100K,82.0,0,0,0,0,0,E,0,0,...,0,100,0,0,N,8,0,500000,0,500000
14412,100K-lessthan200K,43.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,8,0,0,1000000,1000000
14413,200KandAbove,52.0,N,0,A,0,0,0,0,0,...,0,0,100,0,Y,14,0,1000000,0,1000000
14414,100K-lessthan200K,61.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,7,0,0,1000025,1000025
14415,lessthan100K,47.0,N,0,0,0,0,0,0,0,...,0,100,0,0,Y,26,0,1000000,0,1000000
14416,200KandAbove,14.0,0,0,A,0,0,0,0,0,...,0,100,0,0,N,7,0,500002,0,500002

In [21]:
# injury2.replace(replace_map_comp, inplace=True)

# print(injury2.head())

In [22]:
injury2["ClaimSize"].value_counts()

lessthan100K         7427
100K-lessthan200K    3768
200KandAbove         3222
Name: ClaimSize, dtype: int64

In [23]:
injury2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14417 entries, 0 to 14416
Data columns (total 57 columns):
ClaimSize                                     14417 non-null object
Age_Injured                                   14417 non-null float64
Work_related_injury_status                    14417 non-null object
Amputation                                    14417 non-null object
Death                                         14417 non-null object
Burns_heat                                    14417 non-null object
Burns_chemical                                14417 non-null object
SystemicPoisoning_toxic                       14417 non-null object
SystemicPoisoning_other                       14417 non-null object
Eye_injury_blindness                          14417 non-null object
RespiratoryCondition                          14417 non-null object
NervousCondition                              14417 non-null object
HearingLoss                                   14417 non-null object
CirculatoryCondition                          14417 non-null object
MultipleInjuries                              14417 non-null object
BackInjury                                    14417 non-null object
SkinDisorder                                  14417 non-null object
BrainDamage                                   14417 non-null object
Scarring                                      14417 non-null object
SpinalCordInjuries                            14417 non-null object
OtherInjuries                                 14417 non-null object
OffRoadVehicle                                14417 non-null object
AirTransportation                             14417 non-null object
Railway                                       14417 non-null object
OtherMotorVehicle                             14417 non-null object
SurgicalCare                                  14417 non-null object
Falls                                         14417 non-null object
Drowning                                      14417 non-null object
UseOfDefectiveProduct                         14417 non-null object
Fire                                          14417 non-null object
Firearm                                       14417 non-null object
Pollution_ToxicExposure                       14417 non-null object
Explosions                                    14417 non-null object
UseOfAgrlMachinery                            14417 non-null object
Oil_gasExtraction                             14417 non-null object
OtherModeOfInjury                             14417 non-null object
Non_economicloss                              14417 non-null object
Exemplarydamages                              14417 non-null object
WhetherPrimaFacie_JointandSeveralLiability    14417 non-null object
WorkersCompAvailability                       14417 non-null object
CollateralSourcesAvailability                 14417 non-null object
MedicalInsurance                              14417 non-null object
DisabilityInsurance                           14417 non-null object
SocialSecurityBenefits                        14417 non-null object
Medicare_Medicaid                             14417 non-null object
Anyothercontributors                          14417 non-null int64
AnyMultipleInterestedparties                  14417 non-null int64
PrimaFacie_percentagefault_injured            14417 non-null int64
PrimaFacie_percentagefault_insured            14417 non-null int64
PrimaFacie_percentagefault_otherinsured       14417 non-null int64
PrimaFacie_percentagefault_uninsured          14417 non-null int64
Employment_status                             14417 non-null object
BusinessClass                                 14417 non-null int64
Perperson_Policylimit                         14417 non-null int64
PerOccurrence_PolicyLimit                     14417 non-null int64
CombinedSingleLimit                           14417 non-null int64
PolicyLimitPerInjury                          14417 non-null int64
dtypes: float64(1), int64(11), object(45)
memory usage: 6.4+ MB

In [24]:
u=pd.DataFrame(injury2["ClaimSize"])

In [25]:
injury2.drop("ClaimSize",axis=1,inplace=True)

In [26]:
injury2=pd.get_dummies(injury2)

In [27]:
injury2["ClaimSize"]=pd.DataFrame(u["ClaimSize"])

In [28]:
injury2

,Age_Injured,Anyothercontributors,AnyMultipleInterestedparties,PrimaFacie_percentagefault_injured,PrimaFacie_percentagefault_insured,PrimaFacie_percentagefault_otherinsured,PrimaFacie_percentagefault_uninsured,BusinessClass,Perperson_Policylimit,PerOccurrence_PolicyLimit,...,MedicalInsurance_Y,DisabilityInsurance_0,DisabilityInsurance_Y,SocialSecurityBenefits_0,SocialSecurityBenefits_Y,Medicare_Medicaid_0,Medicare_Medicaid_Y,Employment_status_N,Employment_status_Y,ClaimSize
0,59.0,1,0,50,50,0,0,17,0,0,...,0,1,0,1,0,1,0,0,1,lessthan100K
1,37.0,1,0,0,100,0,0,9,0,5000000,...,0,1,0,1,0,1,0,0,1,lessthan100K
2,37.0,1,0,0,100,0,0,6,0,0,...,0,1,0,1,0,1,0,0,1,lessthan100K
3,16.0,2,1,0,50,50,0,20,0,1000000,...,0,1,0,1,0,1,0,1,0,200KandAbove
4,52.0,1,0,0,100,0,0,6,0,1000000,...,0,1,0,1,0,1,0,1,0,lessthan100K
5,55.0,1,0,10,90,0,0,26,0,2000000,...,0,1,0,1,0,1,0,1,0,lessthan100K
6,48.0,1,0,0,100,0,0,8,0,0,...,0,1,0,1,0,1,0,1,0,200KandAbove
7,77.0,1,0,0,100,0,0,19,0,200000,...,0,1,0,1,0,1,0,1,0,200KandAbove
8,23.0,1,0,0,100,0,0,7,0,0,...,0,1,0,1,0,0,1,1,0,200KandAbove
9,51.0,1,0,0,100,0,0,7,1000000,1000000,...,1,1,0,1,0,1,0,1,0,lessthan100K
10,67.0,1,0,0,100,0,0,14,0,0,...,0,1,0,1,0,1,0,0,1,lessthan100K
11,78.0,1,0,0,100,0,0,14,0,0,...,0,1,0,1,0,1,0,1,0,lessthan100K
12,18.0,1,0,0,100,0,0,7,1000000,0,...,0,1,0,1,0,1,0,0,1,100K-lessthan200K
13,14.0,1,0,0,100,0,0,13,0,0,...,0,1,0,1,0,1,0,1,0,100K-lessthan200K
14,55.0,1,0,0,100,0,0,8,0,1000000,...,0,1,0,1,0,1,0,0,1,lessthan100K
15,23.0,2,1,0,10,0,90,8,0,0,...,1,1,0,1,0,1,0,0,1,lessthan100K
16,20.0,1,0,45,55,0,0,14,0,1000000,...,0,1,0,1,0,1,0,0,1,200KandAbove
17,40.0,1,0,0,100,0,0,6,0,500000,...,0,1,0,1,0,1,0,0,1,100K-lessthan200K
18,55.0,1,0,0,100,0,0,7,0,0,...,0,1,0,1,0,1,0,0,1,lessthan100K
19,24.0,1,0,0,100,0,0,14,0,0,...,0,1,0,1,0,1,0,0,1,lessthan100K
20,73.0,2,1,0,100,0,0,19,0,200000,...,0,1,0,1,0,0,1,1,0,lessthan100K
21,62.0,1,0,0,100,0,0,8,0,1000000,...,0,1,0,1,0,1,0,1,0,100K-lessthan200K
22,37.0,1,0,0,100,0,0,7,0,0,...,0,1,0,1,0,1,0,0,1,200KandAbove
23,40.0,1,0,0,100,0,0,14,0,1000000,...,0,1,0,1,0,1,0,0,1,lessthan100K
24,31.0,1,0,0,100,0,0,8,0,0,...,1,1,0,1,0,1,0,0,1,100K-lessthan200K
25,18.0,1,0,0,100,0,0,7,0,0,...,0,1,0,1,0,1,0,0,1,lessthan100K
26,27.0,1,0,0,100,0,0,15,0,1000000,...,0,1,0,1,0,1,0,1,0,lessthan100K
27,13.0,1,0,0,100,0,0,7,0,0,...,1,1,0,1,0,1,0,1,0,lessthan100K
28,67.0,1,0,0,100,0,0,26,0,5000000,...,0,1,0,1,0,1,0,0,1,100K-lessthan200K
29,38.0,2,1,0,85,15,0,14,0,500000,...,0,1,0,1,0,1,0,0,1,200KandAbove
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14387,23.0,1,0,0,100,0,0,9,0,0,...,0,1,0,1,0,1,0,0,1,lessthan100K
14388,62.0,2,1,0,70,30,0,19,0,1000000,...,0,1,0,1,0,0,1,1,0,lessthan100K
14389,37.0,1,0,0,100,0,0,7,0,0,...,0,1,0,1,0,1,0,0,1,200KandAbove
14390,40.0,1,0,0,100,0,0,8,0,0,...,0,1,0,1,0,1,0,0,1,200KandAbove
14391,66.0,1,0,0,100,0,0,4,1000000,0,...,0,1,0,1,0,1,0,0,1,100K-lessthan200K
14392,11.0,1,0,0,100,0,0,18,20000,40000,...,0,1,0,1,0,1,0,1,0,lessthan100K
14393,35.0,2,1,50,50,0,0,26,0,1000000,...,0,1,0,1,0,1,0,1,0,lessthan100K
14394,38.0,1,0,0,100,0,0,8,0,0,...,0,1,0,1,0,1,0,1,0,100K-lessthan200K
14395,26.0,1,0,0,100,0,0,7,0,0,...,0,1,0,1,0,1,0,0,1,lessthan100K
14396,65.0,1,0,0,100,0,0,26,0,0,...,0,1,0,1,0,1,0,0,1,100K-lessthan200K
14397,46.0,2,1,30,10,60,0,26,0,300000,...,0,1,0,1,0,1,0,0,1,lessthan100K
14398,28.0,2,1,0,25,75,0,22,0,5000000,...,0,1,0,1,0,0,1,1,0,lessthan100K
14399,35.0,1,0,0,100,0,0,7,0,0,...,0,1,0,1,0,1,0,0,1,lessthan100K
14400,79.0,1,0,0,100,0,0,7,0,0,...,0,1,0,1,0,1,0,1,0,200KandAbove
14401,71.0,1,0,0,100,0,0,13,0,2000000,...,1,1,0,1,0,1,0,1,0,100K-lessthan200K
14402,23.0,1,0,0,100,0,0,6,0,0,...,0,1,0,1,0,1,0,0,1,200KandAbove
14403,13.0,1,0,0,100,0,0,26,0,1000000,...,0,1,0,1,0,1,0,1,0,lessthan100K
14404,28.0,1,0,50,50,0,0,7,0,0,...,1,1,0,1,0,1,0,0,1,lessthan100K
14405,54.0,1,0,0,100,0,0,7,0,1000000,...,0,1,0,1,0,1,0,0,1,lessthan100K
14406,60.0,1,0,0,100,0,0,14,0,1000000,...,0,1,0,1,0,1,0,0,1,100K-lessthan200K
14407,19.0,1,0,0,100,0,0,7,0,0,...,1,1,0,1,0,1,0,1,0,100K-lessthan200K
14408,44.0,1,0,0,100,0,0,7,0,0,...,0,1,0,1,0,1,0,1,0,lessthan100K
14409,11.0,1,0,10,90,0,0,9,0,300000,...,0,1,0,1,0,1,0,1,0,lessthan100K
14410,43.0,1,0,0,100,0,0,8,0,0,...,0,1,0,1,0,1,0,0,1,100K-lessthan200K
14411,82.0,1,0,0,100,0,0,8,0,500000,...,0,1,0,1,0,1,0,1,0,lessthan100K
14412,43.0,1,0,0,100,0,0,8,0,0,...,0,1,0,1,0,1,0,0,1,100K-lessthan200K
14413,52.0,2,1,0,0,100,0,14,0,1000000,...,0,1,0,1,0,1,0,0,1,200KandAbove
14414,61.0,1,0,0,100,0,0,7,0,0,...,0,1,0,1,0,1,0,0,1,100K-lessthan200K
14415,47.0,1,0,0,100,0,0,26,0,1000000,...,0,1,0,1,0,1,0,0,1,lessthan100K
14416,14.0,1,0,0,100,0,0,7,0,500002,...,0,1,0,1,0,1,0,1,0,200KandAbove

In [29]:

from sklearn.model_selection import train_test_split

In [30]:
#Spiliting the data
from sklearn.model_selection import train_test_split
X = injury2.drop('ClaimSize',axis=1)
y = injury2['ClaimSize']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [31]:
#building a Decision tree model
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import accuracy_score, recall_score, classification_report,confusion_matrix

from sklearn.ensemble import RandomForestClassifier

model=DecisionTreeClassifier(criterion='gini', splitter='best',random_state=0,max_depth=4)

In [32]:
y=model.fit(X_train,y_train)

In [33]:
clf=y.predict(X_test)

In [34]:
len(X_train.columns)

101

In [35]:
#predicting o
print("accuracy_score")
print(accuracy_score(clf,y_test))
print("confusion_matrix")
print(confusion_matrix(clf,y_test))
print(" classification_report")
print( classification_report(clf,y_test))

accuracy_score
0.6239019879796579
confusion_matrix
[[ 303   79    7]
 [  61  276   58]
 [ 821  601 2120]]
 classification_report
                   precision    recall  f1-score   support

100K-lessthan200K       0.26      0.78      0.39       389
     200KandAbove       0.29      0.70      0.41       395
     lessthan100K       0.97      0.60      0.74      3542

      avg / total       0.84      0.62      0.68      4326

In [36]:
clf.partition
print(clf.partition)

<built-in method partition of numpy.ndarray object at 0x00000142391838A0>

In [37]:
model.feature_importances_
w=pd.DataFrame(y.feature_importances_)
w.columns = ['values']
w=w.sort_values(["values"],ascending=False)
w['attributes_names']=pd.DataFrame(X_train.columns)
#w.columns = ['attributes_names']
w

       values                         attributes_names
40   0.273540                             BackInjury_M
89   0.171016          CollateralSourcesAvailability_N
18   0.169962                                  Death_A
4    0.167147       PrimaFacie_percentagefault_insured
37   0.106447                       MultipleInjuries_0
49   0.036428                          OtherInjuries_0
11   0.021281                     PolicyLimitPerInjury
38   0.020551                       MultipleInjuries_L
3    0.010725       PrimaFacie_percentagefault_injured
43   0.010339                            BrainDamage_0
39   0.006087                             BackInjury_0
47   0.003961                     SpinalCordInjuries_0
7    0.002518                            BusinessClass
68   0.000000                                   Fire_I
70   0.000000                                Firearm_J
71   0.000000                Pollution_ToxicExposure_0
72   0.000000                Pollution_ToxicExposure_K
69   0.000000                                Firearm_0
73   0.000000                             Explosions_0
0    0.000000                              Age_Injured
66   0.000000                  UseOfDefectiveProduct_H
67   0.000000                                   Fire_0
75   0.000000                     UseOfAgrlMachinery_0
65   0.000000                  UseOfDefectiveProduct_0
64   0.000000                               Drowning_G
63   0.000000                               Drowning_0
62   0.000000                                  Falls_F
61   0.000000                                  Falls_0
60   0.000000                           SurgicalCare_E
59   0.000000                           SurgicalCare_0
..        ...                                      ...
12   0.000000             Work_related_injury_status_0
10   0.000000                      CombinedSingleLimit
9    0.000000                PerOccurrence_PolicyLimit
8    0.000000                    Perperson_Policylimit
6    0.000000     PrimaFacie_percentagefault_uninsured
5    0.000000  PrimaFacie_percentagefault_otherinsured
2    0.000000             AnyMultipleInterestedparties
26   0.000000                SystemicPoisoning_other_F
27   0.000000                   Eye_injury_blindness_0
28   0.000000                   Eye_injury_blindness_G
44   0.000000                            BrainDamage_O
54   0.000000                      AirTransportation_B
53   0.000000                      AirTransportation_0
52   0.000000                         OffRoadVehicle_A
51   0.000000                         OffRoadVehicle_0
1    0.000000                     Anyothercontributors
48   0.000000                     SpinalCordInjuries_Q
46   0.000000                               Scarring_P
45   0.000000                               Scarring_0
42   0.000000                           SkinDisorder_N
29   0.000000                   RespiratoryCondition_0
41   0.000000                           SkinDisorder_0
36   0.000000                   CirculatoryCondition_K
35   0.000000                   CirculatoryCondition_0
34   0.000000                            HearingLoss_J
33   0.000000                            HearingLoss_0
32   0.000000                       NervousCondition_I
31   0.000000                       NervousCondition_0
30   0.000000                   RespiratoryCondition_H
100  0.000000                      Employment_status_Y

[101 rows x 2 columns]

In [38]:
w["Colnames"]=X_test.columns

In [39]:
#building a Randomforest model

from sklearn.ensemble import RandomForestClassifier
model1=RandomForestClassifier(bootstrap=False, class_weight=None, criterion='gini',
            max_depth=17, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=2, min_samples_split=10,
            min_weight_fraction_leaf=0.0, n_estimators=180, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [40]:
e=model1.fit(X_train,y_train)

In [41]:
clf2=e.predict(X_test)

In [42]:
print("accuracy")
print(accuracy_score(clf2,y_test))

accuracy
0.7281553398058253

In [43]:
model.feature_importances_
w=pd.DataFrame(y.feature_importances_)
w.columns = ['values']
w=w.sort_values(["values"],ascending=False)
w['attributes_names']=pd.DataFrame(X_train.columns)
#w.columns = ['attributes_names']
w

       values                         attributes_names
40   0.273540                             BackInjury_M
89   0.171016          CollateralSourcesAvailability_N
18   0.169962                                  Death_A
4    0.167147       PrimaFacie_percentagefault_insured
37   0.106447                       MultipleInjuries_0
49   0.036428                          OtherInjuries_0
11   0.021281                     PolicyLimitPerInjury
38   0.020551                       MultipleInjuries_L
3    0.010725       PrimaFacie_percentagefault_injured
43   0.010339                            BrainDamage_0
39   0.006087                             BackInjury_0
47   0.003961                     SpinalCordInjuries_0
7    0.002518                            BusinessClass
68   0.000000                                   Fire_I
70   0.000000                                Firearm_J
71   0.000000                Pollution_ToxicExposure_0
72   0.000000                Pollution_ToxicExposure_K
69   0.000000                                Firearm_0
73   0.000000                             Explosions_0
0    0.000000                              Age_Injured
66   0.000000                  UseOfDefectiveProduct_H
67   0.000000                                   Fire_0
75   0.000000                     UseOfAgrlMachinery_0
65   0.000000                  UseOfDefectiveProduct_0
64   0.000000                               Drowning_G
63   0.000000                               Drowning_0
62   0.000000                                  Falls_F
61   0.000000                                  Falls_0
60   0.000000                           SurgicalCare_E
59   0.000000                           SurgicalCare_0
..        ...                                      ...
12   0.000000             Work_related_injury_status_0
10   0.000000                      CombinedSingleLimit
9    0.000000                PerOccurrence_PolicyLimit
8    0.000000                    Perperson_Policylimit
6    0.000000     PrimaFacie_percentagefault_uninsured
5    0.000000  PrimaFacie_percentagefault_otherinsured
2    0.000000             AnyMultipleInterestedparties
26   0.000000                SystemicPoisoning_other_F
27   0.000000                   Eye_injury_blindness_0
28   0.000000                   Eye_injury_blindness_G
44   0.000000                            BrainDamage_O
54   0.000000                      AirTransportation_B
53   0.000000                      AirTransportation_0
52   0.000000                         OffRoadVehicle_A
51   0.000000                         OffRoadVehicle_0
1    0.000000                     Anyothercontributors
48   0.000000                     SpinalCordInjuries_Q
46   0.000000                               Scarring_P
45   0.000000                               Scarring_0
42   0.000000                           SkinDisorder_N
29   0.000000                   RespiratoryCondition_0
41   0.000000                           SkinDisorder_0
36   0.000000                   CirculatoryCondition_K
35   0.000000                   CirculatoryCondition_0
34   0.000000                            HearingLoss_J
33   0.000000                            HearingLoss_0
32   0.000000                       NervousCondition_I
31   0.000000                       NervousCondition_0
30   0.000000                   RespiratoryCondition_H
100  0.000000                      Employment_status_Y

[101 rows x 2 columns]

In [44]:
e=model1.fit(X_train,y_train)

In [45]:
clf2=e.predict(X_test)

In [46]:
print("accuracy")
print(accuracy_score(clf2,y_test))

accuracy
0.72792417938049

In [47]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [48]:
# rf_class_kfold = RandomForestClassifier(n_estimators=120)
# number_of_folds=20

# print("Random Forests: ")
# print(cross_val_score(rf_class_kfold, X_train, y_train, scoring='accuracy', cv = number_of_folds))
# accuracy = cross_val_score(rf_class_kfold, X_train, y_train, scoring='accuracy', cv = number_of_folds).mean() * 100
# print("Accuracy of Random Forests using K-fold cross validation is: " , accuracy)

In [49]:
# #from sklearn.model_selection import GridSearchCV
# from sklearn.model_selection import GridSearchCV, cross_val_score
# from sklearn.model_selection import GridSearchCV
# params = {'bootstrap': [True, False],
#  'max_depth': [15,17,18,16,None],
#  'max_features': ['auto', 'sqrt'],
#  'min_samples_leaf': [1, 2, 4],
#  'min_samples_split': [2, 5, 10],
#  'n_estimators': [150,200,400,600]}
# CV_rfc = GridSearchCV(estimator=model1, param_grid=params, cv= 5)
# CV_rfc.fit(X_train,y_train)
# print('\n',CV_rfc.best_estimator_)
# print(CV_rfc.best_score_)

In [50]:
from xgboost import XGBClassifier
model4= XGBClassifier(n_estimators=200,learning_rate=0.015,gamma=0.1,max_depth=10)

In [51]:
model4.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0.1, learning_rate=0.015,
       max_delta_step=0, max_depth=10, min_child_weight=1, missing=None,
       n_estimators=200, n_jobs=1, nthread=None,
       objective='multi:softprob', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1)

In [52]:
predict_train=model4.predict(X_train)

C:\Users\lenovo\Desktop\insofe\New folder\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [53]:
print("accuracy")
print(accuracy_score(predict_train,y_train))

accuracy
0.7888217223268259

In [54]:
predict_test=model4.predict(X_test)

C:\Users\lenovo\Desktop\insofe\New folder\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [55]:
print("accuracy")
print(accuracy_score(predict_test,y_test))

accuracy
0.7223763291724457

In [56]:
# rf_class_kfold = XGBClassifier(n_estimators=200)
# number_of_folds=20

# print("Random Forests: ")
# print(cross_val_score(rf_class_kfold, X_train, y_train, scoring='accuracy', cv = number_of_folds))
# accuracy = cross_val_score(rf_class_kfold, X_train, y_train, scoring='accuracy', cv = number_of_folds).mean() * 100
# print("Accuracy of Random Forests using K-fold cross validation is: " , accuracy)

# Going back to data preprocessing

In [57]:
injury.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14417 entries, 0 to 14416
Data columns (total 59 columns):
ClaimSize                                     14417 non-null object
Injury_Date                                   14417 non-null object
Date_reported                                 14417 non-null object
Age_Injured                                   14417 non-null float64
Work_related_injury_status                    9367 non-null object
Amputation                                    151 non-null object
Death                                         1710 non-null object
Burns_heat                                    197 non-null object
Burns_chemical                                67 non-null object
SystemicPoisoning_toxic                       51 non-null object
SystemicPoisoning_other                       28 non-null object
Eye_injury_blindness                          130 non-null object
RespiratoryCondition                          98 non-null object
NervousCondition                              136 non-null object
HearingLoss                                   60 non-null object
CirculatoryCondition                          92 non-null object
MultipleInjuries                              5160 non-null object
BackInjury                                    5708 non-null object
SkinDisorder                                  77 non-null object
BrainDamage                                   372 non-null object
Scarring                                      553 non-null object
SpinalCordInjuries                            196 non-null object
OtherInjuries                                 3261 non-null object
OffRoadVehicle                                151 non-null object
AirTransportation                             6 non-null object
Railway                                       38 non-null object
OtherMotorVehicle                             8968 non-null object
SurgicalCare                                  1527 non-null object
Falls                                         2014 non-null object
Drowning                                      33 non-null object
UseOfDefectiveProduct                         217 non-null object
Fire                                          86 non-null object
Firearm                                       33 non-null object
Pollution_ToxicExposure                       39 non-null object
Explosions                                    70 non-null object
UseOfAgrlMachinery                            19 non-null object
Oil_gasExtraction                             45 non-null object
OtherModeOfInjury                             1487 non-null object
Non_economicloss                              14417 non-null object
Exemplarydamages                              14417 non-null object
WhetherPrimaFacie_JointandSeveralLiability    14417 non-null object
WorkersCompAvailability                       14417 non-null object
CollateralSourcesAvailability                 14417 non-null object
MedicalInsurance                              2543 non-null object
DisabilityInsurance                           165 non-null object
SocialSecurityBenefits                        172 non-null object
Medicare_Medicaid                             860 non-null object
Anyothercontributors                          14417 non-null int64
AnyMultipleInterestedparties                  14417 non-null int64
PrimaFacie_percentagefault_injured            14417 non-null int64
PrimaFacie_percentagefault_insured            14417 non-null int64
PrimaFacie_percentagefault_otherinsured       14417 non-null int64
PrimaFacie_percentagefault_uninsured          14417 non-null int64
Employment_status                             14417 non-null object
BusinessClass                                 14417 non-null int64
Perperson_Policylimit                         14417 non-null int64
PerOccurrence_PolicyLimit                     14417 non-null int64
CombinedSingleLimit                           14417 non-null int64
PolicyLimitPerInjury                          14417 non-null int64
dtypes: float64(1), int64(11), object(47)
memory usage: 6.6+ MB

In [58]:
columns_to_merged=["Amputation","Burns_heat","Burns_chemical","SystemicPoisoning_toxic"]
columns_to_merged
combine=injury[columns_to_merged]

In [59]:
combine["other_professional_liability"]= combine[combine.columns[0:]].apply(lambda x: ''.join(x.dropna()),axis=1)

C:\Users\lenovo\Desktop\insofe\New folder\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [60]:
combine.dropna(axis=1,inplace=True)

C:\Users\lenovo\Desktop\insofe\New folder\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [61]:
combine["other_professional_liability"].value_counts()

      13970
C       181
B       144
D        54
E        49
CD       10
BC        6
DE        2
BD        1
Name: other_professional_liability, dtype: int64

In [62]:
combine=combine.apply(lambda x: x.str.strip()).replace('', np.nan)
combine

      other_professional_liability
0                              NaN
1                              NaN
2                              NaN
3                              NaN
4                              NaN
5                              NaN
6                              NaN
7                              NaN
8                              NaN
9                              NaN
10                             NaN
11                             NaN
12                             NaN
13                             NaN
14                             NaN
15                             NaN
16                             NaN
17                             NaN
18                             NaN
19                             NaN
20                             NaN
21                             NaN
22                             NaN
23                             NaN
24                             NaN
25                             NaN
26                             NaN
27                             NaN
28                             NaN
29                               C
...                            ...
14387                          NaN
14388                          NaN
14389                          NaN
14390                          NaN
14391                          NaN
14392                          NaN
14393                          NaN
14394                          NaN
14395                          NaN
14396                          NaN
14397                          NaN
14398                          NaN
14399                          NaN
14400                          NaN
14401                          NaN
14402                          NaN
14403                          NaN
14404                          NaN
14405                          NaN
14406                          NaN
14407                          NaN
14408                          NaN
14409                          NaN
14410                          NaN
14411                            E
14412                          NaN
14413                          NaN
14414                          NaN
14415                          NaN
14416                          NaN

[14417 rows x 1 columns]

In [63]:
combine.fillna(0,inplace=True)

In [64]:
combine["other_professional_liability"].isna().sum()

0

In [65]:
combine["other_professional_liability"].value_counts()

0     13970
C       181
B       144
D        54
E        49
CD       10
BC        6
DE        2
BD        1
Name: other_professional_liability, dtype: int64

In [66]:

injury.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14417 entries, 0 to 14416
Data columns (total 59 columns):
ClaimSize                                     14417 non-null object
Injury_Date                                   14417 non-null object
Date_reported                                 14417 non-null object
Age_Injured                                   14417 non-null float64
Work_related_injury_status                    9367 non-null object
Amputation                                    151 non-null object
Death                                         1710 non-null object
Burns_heat                                    197 non-null object
Burns_chemical                                67 non-null object
SystemicPoisoning_toxic                       51 non-null object
SystemicPoisoning_other                       28 non-null object
Eye_injury_blindness                          130 non-null object
RespiratoryCondition                          98 non-null object
NervousCondition                              136 non-null object
HearingLoss                                   60 non-null object
CirculatoryCondition                          92 non-null object
MultipleInjuries                              5160 non-null object
BackInjury                                    5708 non-null object
SkinDisorder                                  77 non-null object
BrainDamage                                   372 non-null object
Scarring                                      553 non-null object
SpinalCordInjuries                            196 non-null object
OtherInjuries                                 3261 non-null object
OffRoadVehicle                                151 non-null object
AirTransportation                             6 non-null object
Railway                                       38 non-null object
OtherMotorVehicle                             8968 non-null object
SurgicalCare                                  1527 non-null object
Falls                                         2014 non-null object
Drowning                                      33 non-null object
UseOfDefectiveProduct                         217 non-null object
Fire                                          86 non-null object
Firearm                                       33 non-null object
Pollution_ToxicExposure                       39 non-null object
Explosions                                    70 non-null object
UseOfAgrlMachinery                            19 non-null object
Oil_gasExtraction                             45 non-null object
OtherModeOfInjury                             1487 non-null object
Non_economicloss                              14417 non-null object
Exemplarydamages                              14417 non-null object
WhetherPrimaFacie_JointandSeveralLiability    14417 non-null object
WorkersCompAvailability                       14417 non-null object
CollateralSourcesAvailability                 14417 non-null object
MedicalInsurance                              2543 non-null object
DisabilityInsurance                           165 non-null object
SocialSecurityBenefits                        172 non-null object
Medicare_Medicaid                             860 non-null object
Anyothercontributors                          14417 non-null int64
AnyMultipleInterestedparties                  14417 non-null int64
PrimaFacie_percentagefault_injured            14417 non-null int64
PrimaFacie_percentagefault_insured            14417 non-null int64
PrimaFacie_percentagefault_otherinsured       14417 non-null int64
PrimaFacie_percentagefault_uninsured          14417 non-null int64
Employment_status                             14417 non-null object
BusinessClass                                 14417 non-null int64
Perperson_Policylimit                         14417 non-null int64
PerOccurrence_PolicyLimit                     14417 non-null int64
CombinedSingleLimit                           14417 non-null int64
PolicyLimitPerInjury                          14417 non-null int64
dtypes: float64(1), int64(11), object(47)
memory usage: 6.6+ MB

In [67]:
combine2=injury[["Eye_injury_blindness","RespiratoryCondition","NervousCondition","HearingLoss","CirculatoryCondition","MultipleInjuries"]]

In [68]:
combine2.head()

,Eye_injury_blindness,RespiratoryCondition,NervousCondition,HearingLoss,CirculatoryCondition,MultipleInjuries
0,NaN,NaN,NaN,NaN,NaN,L
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,L

In [69]:
combine2["medical_professional_liability"]=combine2[combine2.columns[0:]].apply(lambda x: " ".join(x.dropna()),axis=1)

C:\Users\lenovo\Desktop\insofe\New folder\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [70]:
combine2.dropna(axis=1,inplace=True)

C:\Users\lenovo\Desktop\insofe\New folder\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [71]:
combine2=combine2.apply(lambda x: x.str.strip()).replace('', np.nan)
combine2

      medical_professional_liability
0                                  L
1                                NaN
2                                NaN
3                                NaN
4                                  L
5                                NaN
6                                  L
7                                NaN
8                                NaN
9                                  L
10                                 L
11                                 L
12                               NaN
13                                 L
14                                 L
15                               NaN
16                               NaN
17                                 L
18                               NaN
19                               NaN
20                               NaN
21                                 L
22                               NaN
23                                 L
24                                 L
25                                 L
26                                 L
27                                 L
28                               NaN
29                               NaN
...                              ...
14387                              L
14388                            NaN
14389                              L
14390                            NaN
14391                            NaN
14392                            NaN
14393                            NaN
14394                            NaN
14395                            NaN
14396                            NaN
14397                              L
14398                            NaN
14399                            NaN
14400                            NaN
14401                              L
14402                            NaN
14403                            NaN
14404                            NaN
14405                            NaN
14406                              H
14407                            NaN
14408                            NaN
14409                            NaN
14410                            NaN
14411                            NaN
14412                            NaN
14413                            NaN
14414                              L
14415                            NaN
14416                            NaN

[14417 rows x 1 columns]

In [72]:
combine2.fillna(0,inplace=True)

In [73]:
combine2

      medical_professional_liability
0                                  L
1                                  0
2                                  0
3                                  0
4                                  L
5                                  0
6                                  L
7                                  0
8                                  0
9                                  L
10                                 L
11                                 L
12                                 0
13                                 L
14                                 L
15                                 0
16                                 0
17                                 L
18                                 0
19                                 0
20                                 0
21                                 L
22                                 0
23                                 L
24                                 L
25                                 L
26                                 L
27                                 L
28                                 0
29                                 0
...                              ...
14387                              L
14388                              0
14389                              L
14390                              0
14391                              0
14392                              0
14393                              0
14394                              0
14395                              0
14396                              0
14397                              L
14398                              0
14399                              0
14400                              0
14401                              L
14402                              0
14403                              0
14404                              0
14405                              0
14406                              H
14407                              0
14408                              0
14409                              0
14410                              0
14411                              0
14412                              0
14413                              0
14414                              L
14415                              0
14416                              0

[14417 rows x 1 columns]

In [74]:
combine2["medical_professional_liability"].value_counts()

0          8934
L          5008
G            90
I            76
H            65
K            44
I L          41
J            32
G L          32
K L          26
H L          18
J L          16
I K L         6
H K           4
I J L         3
H J L         2
I K           2
G K           2
J K           2
H I K         2
H I L         2
G J L         2
H K L         1
I J K L       1
G H           1
G H I L       1
I J           1
G H I K       1
G K L         1
H J           1
Name: medical_professional_liability, dtype: int64

In [75]:
combine3=injury[["BackInjury","SkinDisorder","BrainDamage","Scarring","SpinalCordInjuries","OtherInjuries"]]

In [76]:
combine3

,BackInjury,SkinDisorder,BrainDamage,Scarring,SpinalCordInjuries,OtherInjuries
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,R
2,M,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
5,M,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,R
9,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN
12,M,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,R
14,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN
18,M,NaN,NaN,NaN,NaN,NaN
19,M,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN
22,M,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN
24,M,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,R
29,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
14387,NaN,NaN,NaN,NaN,NaN,NaN
14388,NaN,NaN,O,NaN,NaN,NaN
14389,NaN,NaN,NaN,NaN,NaN,NaN
14390,M,NaN,NaN,NaN,NaN,NaN
14391,M,NaN,NaN,NaN,NaN,NaN
14392,NaN,NaN,NaN,NaN,NaN,NaN
14393,NaN,NaN,NaN,NaN,NaN,R
14394,NaN,NaN,NaN,NaN,NaN,R
14395,M,NaN,NaN,NaN,NaN,NaN
14396,M,NaN,NaN,NaN,Q,NaN
14397,NaN,NaN,NaN,NaN,NaN,NaN
14398,NaN,NaN,NaN,NaN,NaN,R
14399,M,NaN,NaN,NaN,NaN,NaN
14400,NaN,NaN,NaN,NaN,NaN,NaN
14401,NaN,NaN,NaN,NaN,NaN,R
14402,NaN,NaN,NaN,NaN,NaN,NaN
14403,NaN,NaN,NaN,NaN,NaN,R
14404,M,NaN,NaN,NaN,NaN,NaN
14405,M,NaN,NaN,NaN,NaN,NaN
14406,NaN,NaN,NaN,NaN,NaN,R
14407,M,NaN,NaN,NaN,NaN,NaN
14408,M,NaN,NaN,NaN,NaN,NaN
14409,NaN,NaN,NaN,NaN,NaN,R
14410,M,NaN,NaN,P,NaN,NaN
14411,NaN,NaN,NaN,NaN,NaN,NaN
14412,M,NaN,NaN,NaN,NaN,NaN
14413,NaN,NaN,NaN,NaN,NaN,NaN
14414,NaN,NaN,NaN,NaN,NaN,R
14415,NaN,NaN,NaN,NaN,NaN,R
14416,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
combine3["medical_professional_liability_2"]=combine3[combine3.columns[0:]].apply(lambda x: " ".join(x.dropna()),axis=1)

C:\Users\lenovo\Desktop\insofe\New folder\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [78]:
combine3.dropna(axis=1,inplace=True)

C:\Users\lenovo\Desktop\insofe\New folder\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [79]:
combine3

      medical_professional_liability_2
0
1                                    R
2                                    M
3
4
5                                    M
6
7
8                                    R
9
10
11
12                                   M
13                                   R
14
15
16
17
18                                   M
19                                   M
20
21
22                                   M
23
24                                   M
25
26
27
28                                   R
29
...                                ...
14387
14388                                O
14389
14390                                M
14391                                M
14392
14393                                R
14394                                R
14395                                M
14396                              M Q
14397
14398                                R
14399                                M
14400
14401                                R
14402
14403                                R
14404                                M
14405                                M
14406                                R
14407                                M
14408                                M
14409                                R
14410                              M P
14411
14412                                M
14413
14414                                R
14415                                R
14416

[14417 rows x 1 columns]

In [80]:
combine3=combine3.apply(lambda x: x.str.strip()).replace('',np.nan)

In [81]:
combine3.fillna(0,inplace=True)

In [82]:
combine3

      medical_professional_liability_2
0                                    0
1                                    R
2                                    M
3                                    0
4                                    0
5                                    M
6                                    0
7                                    0
8                                    R
9                                    0
10                                   0
11                                   0
12                                   M
13                                   R
14                                   0
15                                   0
16                                   0
17                                   0
18                                   M
19                                   M
20                                   0
21                                   0
22                                   M
23                                   0
24                                   M
25                                   0
26                                   0
27                                   0
28                                   R
29                                   0
...                                ...
14387                                0
14388                                O
14389                                0
14390                                M
14391                                M
14392                                0
14393                                R
14394                                R
14395                                M
14396                              M Q
14397                                0
14398                                R
14399                                M
14400                                0
14401                                R
14402                                0
14403                                R
14404                                M
14405                                M
14406                                R
14407                                M
14408                                M
14409                                R
14410                              M P
14411                                0
14412                                M
14413                                0
14414                                R
14415                                R
14416                                0

[14417 rows x 1 columns]

In [83]:
combine3["medical_professional_liability_2"].value_counts()

0            5323
M            4820
R            2563
M R           575
P             300
O             248
M P           136
Q             113
M O            62
M Q            52
P R            51
N              43
O R            18
M P R          18
O P            13
M N            11
M O P           9
N R             9
O Q             8
N P             7
Q R             7
M O R           6
M Q R           4
O P R           3
M O P Q         3
M P Q           3
M N P           2
M N P R         2
P Q             1
N P R           1
M O P Q R       1
M N R           1
P Q R           1
M P Q R         1
M N P Q         1
M O Q           1
Name: medical_professional_liability_2, dtype: int64

In [84]:
injury.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14417 entries, 0 to 14416
Data columns (total 59 columns):
ClaimSize                                     14417 non-null object
Injury_Date                                   14417 non-null object
Date_reported                                 14417 non-null object
Age_Injured                                   14417 non-null float64
Work_related_injury_status                    9367 non-null object
Amputation                                    151 non-null object
Death                                         1710 non-null object
Burns_heat                                    197 non-null object
Burns_chemical                                67 non-null object
SystemicPoisoning_toxic                       51 non-null object
SystemicPoisoning_other                       28 non-null object
Eye_injury_blindness                          130 non-null object
RespiratoryCondition                          98 non-null object
NervousCondition                              136 non-null object
HearingLoss                                   60 non-null object
CirculatoryCondition                          92 non-null object
MultipleInjuries                              5160 non-null object
BackInjury                                    5708 non-null object
SkinDisorder                                  77 non-null object
BrainDamage                                   372 non-null object
Scarring                                      553 non-null object
SpinalCordInjuries                            196 non-null object
OtherInjuries                                 3261 non-null object
OffRoadVehicle                                151 non-null object
AirTransportation                             6 non-null object
Railway                                       38 non-null object
OtherMotorVehicle                             8968 non-null object
SurgicalCare                                  1527 non-null object
Falls                                         2014 non-null object
Drowning                                      33 non-null object
UseOfDefectiveProduct                         217 non-null object
Fire                                          86 non-null object
Firearm                                       33 non-null object
Pollution_ToxicExposure                       39 non-null object
Explosions                                    70 non-null object
UseOfAgrlMachinery                            19 non-null object
Oil_gasExtraction                             45 non-null object
OtherModeOfInjury                             1487 non-null object
Non_economicloss                              14417 non-null object
Exemplarydamages                              14417 non-null object
WhetherPrimaFacie_JointandSeveralLiability    14417 non-null object
WorkersCompAvailability                       14417 non-null object
CollateralSourcesAvailability                 14417 non-null object
MedicalInsurance                              2543 non-null object
DisabilityInsurance                           165 non-null object
SocialSecurityBenefits                        172 non-null object
Medicare_Medicaid                             860 non-null object
Anyothercontributors                          14417 non-null int64
AnyMultipleInterestedparties                  14417 non-null int64
PrimaFacie_percentagefault_injured            14417 non-null int64
PrimaFacie_percentagefault_insured            14417 non-null int64
PrimaFacie_percentagefault_otherinsured       14417 non-null int64
PrimaFacie_percentagefault_uninsured          14417 non-null int64
Employment_status                             14417 non-null object
BusinessClass                                 14417 non-null int64
Perperson_Policylimit                         14417 non-null int64
PerOccurrence_PolicyLimit                     14417 non-null int64
CombinedSingleLimit                           14417 non-null int64
PolicyLimitPerInjury                          14417 non-null int64
dtypes: float64(1), int64(11), object(47)
memory usage: 6.6+ MB

In [85]:
combine4=injury[["OffRoadVehicle","AirTransportation","Railway","OtherMotorVehicle","SurgicalCare","Drowning","UseOfDefectiveProduct","Fire"]]

In [86]:
combine4

,OffRoadVehicle,AirTransportation,Railway,OtherMotorVehicle,SurgicalCare,Drowning,UseOfDefectiveProduct,Fire
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN
4,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN
8,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,G,NaN,NaN
12,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,H,NaN
...,...,...,...,...,...,...,...,...
14387,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
14388,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN
14389,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
14390,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
14391,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
14392,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
14393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14395,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
14396,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
14397,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN
14398,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN
14399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14400,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
14401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14402,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
14403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14404,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
14405,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
14406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14407,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
14408,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
14409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14410,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
14411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14412,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
14413,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
14414,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN
14415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14416,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN

In [87]:
combine4["General_liability"]=combine4[combine4.columns[0:]].apply(lambda x: " ".join(x.dropna()),axis=1)

C:\Users\lenovo\Desktop\insofe\New folder\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [88]:
combine4.dropna(axis=1,inplace=True)

C:\Users\lenovo\Desktop\insofe\New folder\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [89]:
combine4

      General_liability
0
1                     D
2                     D
3                     E
4                     D
5
6                     D
7                     E
8                     D
9                     D
10                    D
11                    G
12                    D
13
14
15                    D
16
17                    D
18                    D
19                    D
20                    E
21
22                    D
23                    D
24                    D
25                    D
26                    D
27                    D
28
29                    H
...                 ...
14387                 D
14388                 E
14389                 D
14390                 D
14391                 D
14392                 D
14393
14394
14395                 D
14396                 D
14397                 C
14398                 E
14399
14400                 D
14401
14402                 D
14403
14404                 D
14405                 D
14406
14407                 D
14408                 D
14409
14410                 D
14411
14412                 D
14413                 D
14414                 D
14415
14416                 D

[14417 rows x 1 columns]

In [90]:
combine4["General_liability"].value_counts()

D        8926
         3449
E        1517
H         196
A         135
I          72
G          33
C          31
A D        12
C D         7
B           6
D I         6
D H         6
D E         5
D H I       4
E H         4
H I         3
A H         2
D E H       1
A D H       1
A I         1
Name: General_liability, dtype: int64

In [91]:
combine4=combine4.apply(lambda x: x.str.strip()).replace('',np.nan)

In [92]:
combine4.fillna(0,inplace=True)

In [93]:
combine4["General_liability"].value_counts()

D        8926
0        3449
E        1517
H         196
A         135
I          72
G          33
C          31
A D        12
C D         7
B           6
D I         6
D H         6
D E         5
D H I       4
E H         4
H I         3
A H         2
D E H       1
A D H       1
A I         1
Name: General_liability, dtype: int64

In [94]:
injury.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14417 entries, 0 to 14416
Data columns (total 59 columns):
ClaimSize                                     14417 non-null object
Injury_Date                                   14417 non-null object
Date_reported                                 14417 non-null object
Age_Injured                                   14417 non-null float64
Work_related_injury_status                    9367 non-null object
Amputation                                    151 non-null object
Death                                         1710 non-null object
Burns_heat                                    197 non-null object
Burns_chemical                                67 non-null object
SystemicPoisoning_toxic                       51 non-null object
SystemicPoisoning_other                       28 non-null object
Eye_injury_blindness                          130 non-null object
RespiratoryCondition                          98 non-null object
NervousCondition                              136 non-null object
HearingLoss                                   60 non-null object
CirculatoryCondition                          92 non-null object
MultipleInjuries                              5160 non-null object
BackInjury                                    5708 non-null object
SkinDisorder                                  77 non-null object
BrainDamage                                   372 non-null object
Scarring                                      553 non-null object
SpinalCordInjuries                            196 non-null object
OtherInjuries                                 3261 non-null object
OffRoadVehicle                                151 non-null object
AirTransportation                             6 non-null object
Railway                                       38 non-null object
OtherMotorVehicle                             8968 non-null object
SurgicalCare                                  1527 non-null object
Falls                                         2014 non-null object
Drowning                                      33 non-null object
UseOfDefectiveProduct                         217 non-null object
Fire                                          86 non-null object
Firearm                                       33 non-null object
Pollution_ToxicExposure                       39 non-null object
Explosions                                    70 non-null object
UseOfAgrlMachinery                            19 non-null object
Oil_gasExtraction                             45 non-null object
OtherModeOfInjury                             1487 non-null object
Non_economicloss                              14417 non-null object
Exemplarydamages                              14417 non-null object
WhetherPrimaFacie_JointandSeveralLiability    14417 non-null object
WorkersCompAvailability                       14417 non-null object
CollateralSourcesAvailability                 14417 non-null object
MedicalInsurance                              2543 non-null object
DisabilityInsurance                           165 non-null object
SocialSecurityBenefits                        172 non-null object
Medicare_Medicaid                             860 non-null object
Anyothercontributors                          14417 non-null int64
AnyMultipleInterestedparties                  14417 non-null int64
PrimaFacie_percentagefault_injured            14417 non-null int64
PrimaFacie_percentagefault_insured            14417 non-null int64
PrimaFacie_percentagefault_otherinsured       14417 non-null int64
PrimaFacie_percentagefault_uninsured          14417 non-null int64
Employment_status                             14417 non-null object
BusinessClass                                 14417 non-null int64
Perperson_Policylimit                         14417 non-null int64
PerOccurrence_PolicyLimit                     14417 non-null int64
CombinedSingleLimit                           14417 non-null int64
PolicyLimitPerInjury                          14417 non-null int64
dtypes: float64(1), int64(11), object(47)
memory usage: 6.6+ MB

In [95]:
combine5=injury[["Firearm","Pollution_ToxicExposure","Explosions","UseOfAgrlMachinery","Oil_gasExtraction","OtherModeOfInjury"]]

In [96]:
combine5

,Firearm,Pollution_ToxicExposure,Explosions,UseOfAgrlMachinery,Oil_gasExtraction,OtherModeOfInjury
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,O
14,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,O
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,O
...,...,...,...,...,...,...
14387,NaN,NaN,NaN,NaN,NaN,NaN
14388,NaN,NaN,NaN,NaN,NaN,NaN
14389,NaN,NaN,NaN,NaN,NaN,NaN
14390,NaN,NaN,NaN,NaN,NaN,NaN
14391,NaN,NaN,NaN,NaN,NaN,NaN
14392,NaN,NaN,NaN,NaN,NaN,NaN
14393,NaN,NaN,NaN,NaN,NaN,O
14394,NaN,NaN,NaN,NaN,NaN,O
14395,NaN,NaN,NaN,NaN,NaN,NaN
14396,NaN,NaN,NaN,NaN,NaN,NaN
14397,NaN,NaN,NaN,NaN,NaN,NaN
14398,NaN,NaN,NaN,NaN,NaN,NaN
14399,NaN,NaN,NaN,NaN,NaN,NaN
14400,NaN,NaN,NaN,NaN,NaN,NaN
14401,NaN,NaN,NaN,NaN,NaN,O
14402,NaN,NaN,NaN,NaN,NaN,NaN
14403,NaN,NaN,NaN,NaN,NaN,O
14404,NaN,NaN,NaN,NaN,NaN,NaN
14405,NaN,NaN,NaN,NaN,NaN,NaN
14406,NaN,NaN,NaN,NaN,NaN,O
14407,NaN,NaN,NaN,NaN,NaN,NaN
14408,NaN,NaN,NaN,NaN,NaN,NaN
14409,NaN,NaN,NaN,NaN,NaN,O
14410,NaN,NaN,NaN,NaN,NaN,NaN
14411,NaN,NaN,NaN,NaN,NaN,O
14412,NaN,NaN,NaN,NaN,NaN,NaN
14413,NaN,NaN,NaN,NaN,NaN,NaN
14414,NaN,NaN,NaN,NaN,NaN,NaN
14415,NaN,NaN,NaN,NaN,NaN,NaN
14416,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
combine5["automobile_liability"]=combine5[combine5.columns[0:]].apply(lambda x: ''.join(x.dropna()),axis=1)

C:\Users\lenovo\Desktop\insofe\New folder\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [98]:
combine5.dropna(axis=1,inplace=True)

C:\Users\lenovo\Desktop\insofe\New folder\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [99]:
combine5["automobile_liability"].value_counts()

       12745
O       1471
L         62
N         40
K         33
J         29
M         17
KO         6
JO         4
LO         4
LN         3
LM         1
MNO        1
NO         1
Name: automobile_liability, dtype: int64

In [100]:
combine5=combine5.apply(lambda x: x.str.strip()).replace('',np.nan)

In [101]:
combine5.fillna(0,inplace=True)

In [102]:
combine5

      automobile_liability
0                        0
1                        0
2                        0
3                        0
4                        0
5                        0
6                        0
7                        0
8                        0
9                        0
10                       0
11                       0
12                       0
13                       O
14                       0
15                       0
16                       0
17                       0
18                       0
19                       0
20                       0
21                       O
22                       0
23                       0
24                       0
25                       0
26                       0
27                       0
28                       0
29                       O
...                    ...
14387                    0
14388                    0
14389                    0
14390                    0
14391                    0
14392                    0
14393                    O
14394                    O
14395                    0
14396                    0
14397                    0
14398                    0
14399                    0
14400                    0
14401                    O
14402                    0
14403                    O
14404                    0
14405                    0
14406                    O
14407                    0
14408                    0
14409                    O
14410                    0
14411                    O
14412                    0
14413                    0
14414                    0
14415                    0
14416                    0

[14417 rows x 1 columns]

In [103]:
#bringing injured_date and Date_reported into one fromate
injury['injured date1'] = pd.to_datetime(injury['Injury_Date'], errors='coerce')
injury['Date_reported1'] = pd.to_datetime(injury['Date_reported'], errors='coerce')

In [104]:
injury

,ClaimSize,Injury_Date,Date_reported,Age_Injured,Work_related_injury_status,Amputation,Death,Burns_heat,Burns_chemical,SystemicPoisoning_toxic,...,PrimaFacie_percentagefault_otherinsured,PrimaFacie_percentagefault_uninsured,Employment_status,BusinessClass,Perperson_Policylimit,PerOccurrence_PolicyLimit,CombinedSingleLimit,PolicyLimitPerInjury,injured date1,Date_reported1
0,lessthan100K,3/9/2000,2000-03-23,59.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,17,0,0,5000000,5000000,2000-03-09,2000-03-23
1,lessthan100K,12/6/2002,2002-12-10,37.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,9,0,5000000,0,5000000,2002-12-06,2002-12-10
2,lessthan100K,10/20/2000,2000-11-02,37.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,6,0,0,5000000,5000000,2000-10-20,2000-11-02
3,200KandAbove,8/9/2003,2003-08-11,16.0,NaN,NaN,A,NaN,NaN,NaN,...,50,0,N,20,0,1000000,3000000,1000000,2003-08-09,2003-08-11
4,lessthan100K,2/25/2004,2004-02-26,52.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,N,6,0,1000000,0,1000000,2004-02-25,2004-02-26
5,lessthan100K,1/25/1998,1998-01-26,55.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,N,26,0,2000000,0,2000000,1998-01-25,1998-01-26
6,200KandAbove,6/12/2001,2001-06-12,48.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,N,8,0,0,1000000,1000000,2001-06-12,2001-06-12
7,200KandAbove,8/5/2003,2003-09-02,77.0,NaN,NaN,A,NaN,NaN,NaN,...,0,0,N,19,0,200000,0,200000,2003-08-05,2003-09-02
8,200KandAbove,7/23/2001,2001-07-24,23.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,N,7,0,0,300115,300115,2001-07-23,2001-07-24
9,lessthan100K,2/2/2001,2001-02-05,51.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,N,7,1000000,1000000,1000000,1000000,2001-02-02,2001-02-05
10,lessthan100K,5/4/2004,2004-05-11,67.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,14,0,0,1000000,1000000,2004-05-04,2004-05-11
11,lessthan100K,1/21/2001,2001-01-30,78.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,N,14,0,0,1000000,1000000,2001-01-21,2001-01-30
12,100K-lessthan200K,4/3/2002,2002-04-03,18.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,7,1000000,0,0,1000000,2002-04-03,2002-04-03
13,100K-lessthan200K,5/5/2001,2001-09-04,14.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,N,13,0,0,300000,300000,2001-05-05,2001-09-04
14,lessthan100K,11/16/1998,1998-11-19,55.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,8,0,1000000,0,1000000,1998-11-16,1998-11-19
15,lessthan100K,1/3/2003,2003-09-22,23.0,N,NaN,A,NaN,NaN,NaN,...,0,90,Y,8,0,0,1000000,1000000,2003-01-03,2003-09-22
16,200KandAbove,4/13/1999,1999-12-27,20.0,Y,NaN,A,NaN,NaN,NaN,...,0,0,Y,14,0,1000000,0,1000000,1999-04-13,1999-12-27
17,100K-lessthan200K,12/19/1997,1997-12-22,40.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,6,0,500000,500000,500000,1997-12-19,1997-12-22
18,lessthan100K,6/6/2000,2000-06-09,55.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,7,0,0,1000025,1000025,2000-06-06,2000-06-09
19,lessthan100K,4/26/2004,2004-04-27,24.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,14,0,0,55025,55025,2004-04-26,2004-04-27
20,lessthan100K,6/15/2003,2003-08-22,73.0,NaN,NaN,A,NaN,NaN,NaN,...,0,0,N,19,0,200000,0,200000,2003-06-15,2003-08-22
21,100K-lessthan200K,5/6/2002,2002-05-06,62.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,N,8,0,1000000,0,1000000,2002-05-06,2002-05-06
22,200KandAbove,1/24/2002,2002-01-24,37.0,Y,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,7,0,0,1000000,1000000,2002-01-24,2002-01-24
23,lessthan100K,2/26/2005,2005-02-28,40.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,14,0,1000000,1000000,1000000,2005-02-26,2005-02-28
24,100K-lessthan200K,1/18/2002,2002-02-21,31.0,Y,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,8,0,0,1000000,1000000,2002-01-18,2002-02-21
25,lessthan100K,5/26/2002,2002-06-07,18.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,7,0,0,1000000,1000000,2002-05-26,2002-06-07
26,lessthan100K,7/6/2001,2001-07-10,27.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,N,15,0,1000000,0,1000000,2001-07-06,2001-07-10
27,lessthan100K,10/13/2001,2001-10-16,13.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,N,7,0,0,1000069,1000069,2001-10-13,2001-10-16
28,100K-lessthan200K,9/25/1999,2000-03-27,67.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,26,0,5000000,0,5000000,1999-09-25,2000-03-27
29,200KandAbove,8/13/1998,1999-04-29,38.0,Y,NaN,NaN,C,NaN,NaN,...,15,0,Y,14,0,500000,0,500000,1998-08-13,1999-04-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14387,lessthan100K,4/28/2003,2003-04-30,23.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,9,0,0,1000000,1000000,2003-04-28,2003-04-30
14388,lessthan100K,10/23/1998,1998-12-03,62.0,NaN,NaN,NaN,NaN,NaN,NaN,...,30,0,N,19,0,1000000,0,1000000,1998-10-23,1998-12-03
14389,200KandAbove,4/6/1999,1999-09-08,37.0,N,NaN,A,NaN,NaN,NaN,...,0,0,Y,7,0,0,1000000,1000000,1999-04-06,1999-09-08
14390,200KandAbove,9/28/1998,1998-09-29,40.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,8,0,0,1000000,1000000,1998-09-28,1998-09-29
14391,100K-lessthan200K,12/10/1998,1998-12-10,66.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,4,1000000,0,0,1000000,1998-12-10,1998-12-10
14392,lessthan100K,6/26/1998,1998-06-29,11.0,NaN,NaN,A,NaN,NaN,NaN,...,0,0,N,18,20000,40000,0,20000,1998-06-26,1998-06-29
14393,lessthan100K,3/12/2003,2003-08-29,35.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,N,26,0,1000000,0,1000000,2003-03-12,2003-08-29
14394,100K-lessthan200K,2/12/1999,1999-09-30,38.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,N,8,0,0,50000000,50000000,1999-02-12,1999-09-30
14395,lessthan100K,9/10/1999,1999-09-21,26.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,7,0,0,1000000,1000000,1999-09-10,1999-09-21
14396,100K-lessthan200K,8/15/2004,2004-08-30,65.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,26,0,0,1000000,1000000,2004-08-15,2004-08-30
14397,lessthan100K,4/27/2001,2001-10-18,46.0,Y,NaN,NaN,NaN,NaN,NaN,...,60,0,Y,26,0,300000,300000,300000,2001-04-27,2001-10-18
14398,lessthan100K,5/16/2000,2000-05-23,28.0,NaN,NaN,NaN,NaN,NaN,NaN,...,75,0,N,22,0,5000000,0,5000000,2000-05-16,2000-05-23
14399,lessthan100K,5/11/2001,2001-05-11,35.0,Y,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,7,0,0,1000000,1000000,2001-05-11,2001-05-11
14400,200KandAbove,6/14/2002,2002-06-14,79.0,NaN,NaN,A,NaN,NaN,NaN,...,0,0,N,7,0,0,500001,500001,2002-06-14,2002-06-14
14401,100K-lessthan200K,4/1/2001,2001-04-04,71.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,N,13,0,2000000,0,2000000,2001-04-01,2001-04-04
14402,200KandAbove,6/5/1999,1999-06-10,23.0,N,NaN,A,NaN,NaN,NaN,...,0,0,Y,6,0,0,300000,300000,1999-06-05,1999-06-10
14403,lessthan100K,10/7/1998,1999-01-21,13.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,N,26,0,1000000,1000000,1000000,1998-10-07,1999-01-21
14404,lessthan100K,3/12/1999,1999-04-22,28.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,7,0,0,1000000,1000000,1999-03-12,1999-04-22
14405,lessthan100K,7/22/2002,2002-07-26,54.0,Y,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,7,0,1000000,1000000,1000000,2002-07-22,2002-07-26
14406,100K-lessthan200K,8/10/2000,2000-08-11,60.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,14,0,1000000,0,1000000,2000-08-10,2000-08-11
14407,100K-lessthan200K,7/7/1997,1997-07-08,19.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,N,7,0,0,1000000,1000000,1997-07-07,1997-07-08
14408,lessthan100K,5/24/2002,2002-05-28,44.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,N,7,0,0,1000000,1000000,2002-05-24,2002-05-28
14409,lessthan100K,3/6/1997,1997-04-23,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,N,9,0,300000,0,300000,1997-03-06,1997-04-23
14410,100K-lessthan200K,10/26/1998,1998-10-27,43.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,8,0,0,1000000,1000000,1998-10-26,1998-10-27
14411,lessthan100K,11/14/2002,2002-11-21,82.0,NaN,NaN,NaN,NaN,NaN,E,...,0,0,N,8,0,500000,0,500000,2002-11-14,2002-11-21
14412,100K-lessthan200K,2/13/1998,1998-02-17,43.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,8,0,0,1000000,1000000,1998-02-13,1998-02-17
14413,200KandAbove,8/4/2002,2003-01-10,52.0,N,NaN,A,NaN,NaN,NaN,...,100,0,Y,14,0,1000000,0,1000000,2002-08-04,2003-01-10
14414,100K-lessthan200K,10/3/2001,2001-10-04,61.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,7,0,0,1000025,1000025,2001-10-03,2001-10-04
14415,lessthan100K,3/18/2003,2004-02-02,47.0,N,NaN,NaN,NaN,NaN,NaN,...,0,0,Y,26,0,1000000,0,1000000,2003-03-18,2004-02-02
14416,200KandAbove,3/12/2002,2002-03-13,14.0,NaN,NaN,A,NaN,NaN,NaN,...,0,0,N,7,0,500002,0,500002,2002-03-12,2002-03-13

In [105]:
#Taking the difference of Date_reported and injured_date
injury['differnce_injured date_Date_reported'] = injury['Date_reported1'].sub(injury['injured date1'], axis=0)
injury.head()

,ClaimSize,Injury_Date,Date_reported,Age_Injured,Work_related_injury_status,Amputation,Death,Burns_heat,Burns_chemical,SystemicPoisoning_toxic,...,PrimaFacie_percentagefault_uninsured,Employment_status,BusinessClass,Perperson_Policylimit,PerOccurrence_PolicyLimit,CombinedSingleLimit,PolicyLimitPerInjury,injured date1,Date_reported1,differnce_injured date_Date_reported
0,lessthan100K,3/9/2000,2000-03-23,59.0,N,NaN,NaN,NaN,NaN,NaN,...,0,Y,17,0,0,5000000,5000000,2000-03-09,2000-03-23,14 days
1,lessthan100K,12/6/2002,2002-12-10,37.0,N,NaN,NaN,NaN,NaN,NaN,...,0,Y,9,0,5000000,0,5000000,2002-12-06,2002-12-10,4 days
2,lessthan100K,10/20/2000,2000-11-02,37.0,N,NaN,NaN,NaN,NaN,NaN,...,0,Y,6,0,0,5000000,5000000,2000-10-20,2000-11-02,13 days
3,200KandAbove,8/9/2003,2003-08-11,16.0,NaN,NaN,A,NaN,NaN,NaN,...,0,N,20,0,1000000,3000000,1000000,2003-08-09,2003-08-11,2 days
4,lessthan100K,2/25/2004,2004-02-26,52.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,N,6,0,1000000,0,1000000,2004-02-25,2004-02-26,1 days

In [106]:
#Dropping some of the columns
injury.drop("Injury_Date",axis=1,inplace=True)
injury.drop("injured date1",axis=1,inplace=True)
injury.drop("Date_reported1",axis=1,inplace=True)
injury.drop("Date_reported",axis=1,inplace=True)

In [107]:
injury.isna().sum()

ClaimSize                                         0
Age_Injured                                       0
Work_related_injury_status                     5050
Amputation                                    14266
Death                                         12707
Burns_heat                                    14220
Burns_chemical                                14350
SystemicPoisoning_toxic                       14366
SystemicPoisoning_other                       14389
Eye_injury_blindness                          14287
RespiratoryCondition                          14319
NervousCondition                              14281
HearingLoss                                   14357
CirculatoryCondition                          14325
MultipleInjuries                               9257
BackInjury                                     8709
SkinDisorder                                  14340
BrainDamage                                   14045
Scarring                                      13864
SpinalCordInjuries                            14221
OtherInjuries                                 11156
OffRoadVehicle                                14266
AirTransportation                             14411
Railway                                       14379
OtherMotorVehicle                              5449
SurgicalCare                                  12890
Falls                                         12403
Drowning                                      14384
UseOfDefectiveProduct                         14200
Fire                                          14331
Firearm                                       14384
Pollution_ToxicExposure                       14378
Explosions                                    14347
UseOfAgrlMachinery                            14398
Oil_gasExtraction                             14372
OtherModeOfInjury                             12930
Non_economicloss                                  0
Exemplarydamages                                  0
WhetherPrimaFacie_JointandSeveralLiability        0
WorkersCompAvailability                           0
CollateralSourcesAvailability                     0
MedicalInsurance                              11874
DisabilityInsurance                           14252
SocialSecurityBenefits                        14245
Medicare_Medicaid                             13557
Anyothercontributors                              0
AnyMultipleInterestedparties                      0
PrimaFacie_percentagefault_injured                0
PrimaFacie_percentagefault_insured                0
PrimaFacie_percentagefault_otherinsured           0
PrimaFacie_percentagefault_uninsured              0
Employment_status                                 0
BusinessClass                                     0
Perperson_Policylimit                             0
PerOccurrence_PolicyLimit                         0
CombinedSingleLimit                               0
PolicyLimitPerInjury                              0
differnce_injured date_Date_reported              0
dtype: int64

In [108]:
combine6=injury[["ClaimSize","Age_Injured","Work_related_injury_status","Death","Falls","Non_economicloss","Exemplarydamages","WhetherPrimaFacie_JointandSeveralLiability","WorkersCompAvailability","CollateralSourcesAvailability","MedicalInsurance","Anyothercontributors","AnyMultipleInterestedparties","PrimaFacie_percentagefault_injured","PrimaFacie_percentagefault_insured","PrimaFacie_percentagefault_otherinsured","PrimaFacie_percentagefault_uninsured","Employment_status","BusinessClass","Perperson_Policylimit","PerOccurrence_PolicyLimit","CombinedSingleLimit","PolicyLimitPerInjury","differnce_injured date_Date_reported","DisabilityInsurance","SocialSecurityBenefits","Medicare_Medicaid"]]
                              
combine6.isna().sum()

ClaimSize                                         0
Age_Injured                                       0
Work_related_injury_status                     5050
Death                                         12707
Falls                                         12403
Non_economicloss                                  0
Exemplarydamages                                  0
WhetherPrimaFacie_JointandSeveralLiability        0
WorkersCompAvailability                           0
CollateralSourcesAvailability                     0
MedicalInsurance                              11874
Anyothercontributors                              0
AnyMultipleInterestedparties                      0
PrimaFacie_percentagefault_injured                0
PrimaFacie_percentagefault_insured                0
PrimaFacie_percentagefault_otherinsured           0
PrimaFacie_percentagefault_uninsured              0
Employment_status                                 0
BusinessClass                                     0
Perperson_Policylimit                             0
PerOccurrence_PolicyLimit                         0
CombinedSingleLimit                               0
PolicyLimitPerInjury                              0
differnce_injured date_Date_reported              0
DisabilityInsurance                           14252
SocialSecurityBenefits                        14245
Medicare_Medicaid                             13557
dtype: int64

In [109]:
#combining all the data frame after data preprocessing
result = pd.concat([combine, combine2,combine3,combine4,combine5,combine6], axis=1, sort=False)

result.fillna(0,inplace=True)
result

,other_professional_liability,medical_professional_liability,medical_professional_liability_2,General_liability,automobile_liability,ClaimSize,Age_Injured,Work_related_injury_status,Death,Falls,...,Employment_status,BusinessClass,Perperson_Policylimit,PerOccurrence_PolicyLimit,CombinedSingleLimit,PolicyLimitPerInjury,differnce_injured date_Date_reported,DisabilityInsurance,SocialSecurityBenefits,Medicare_Medicaid
0,0,L,0,0,0,lessthan100K,59.0,N,0,F,...,Y,17,0,0,5000000,5000000,14 days,0,0,0
1,0,0,R,D,0,lessthan100K,37.0,N,0,0,...,Y,9,0,5000000,0,5000000,4 days,0,0,0
2,0,0,M,D,0,lessthan100K,37.0,N,0,0,...,Y,6,0,0,5000000,5000000,13 days,0,0,0
3,0,0,0,E,0,200KandAbove,16.0,0,A,0,...,N,20,0,1000000,3000000,1000000,2 days,0,0,0
4,0,L,0,D,0,lessthan100K,52.0,0,0,0,...,N,6,0,1000000,0,1000000,1 days,0,0,0
5,0,0,M,0,0,lessthan100K,55.0,0,0,F,...,N,26,0,2000000,0,2000000,1 days,0,0,0
6,0,L,0,D,0,200KandAbove,48.0,0,0,0,...,N,8,0,0,1000000,1000000,0 days,0,0,0
7,0,0,0,E,0,200KandAbove,77.0,0,A,0,...,N,19,0,200000,0,200000,28 days,0,0,0
8,0,0,R,D,0,200KandAbove,23.0,0,0,0,...,N,7,0,0,300115,300115,1 days,0,0,Y
9,0,L,0,D,0,lessthan100K,51.0,0,0,0,...,N,7,1000000,1000000,1000000,1000000,3 days,0,0,0
10,0,L,0,D,0,lessthan100K,67.0,N,0,0,...,Y,14,0,0,1000000,1000000,7 days,0,0,0
11,0,L,0,G,0,lessthan100K,78.0,0,0,0,...,N,14,0,0,1000000,1000000,9 days,0,0,0
12,0,0,M,D,0,100K-lessthan200K,18.0,N,0,0,...,Y,7,1000000,0,0,1000000,0 days,0,0,0
13,0,L,R,0,O,100K-lessthan200K,14.0,0,0,0,...,N,13,0,0,300000,300000,122 days,0,0,0
14,0,L,0,0,0,lessthan100K,55.0,N,0,F,...,Y,8,0,1000000,0,1000000,3 days,0,0,0
15,0,0,0,D,0,lessthan100K,23.0,N,A,0,...,Y,8,0,0,1000000,1000000,262 days,0,0,0
16,0,0,0,0,0,200KandAbove,20.0,Y,A,F,...,Y,14,0,1000000,0,1000000,258 days,0,0,0
17,0,L,0,D,0,100K-lessthan200K,40.0,N,0,0,...,Y,6,0,500000,500000,500000,3 days,0,0,0
18,0,0,M,D,0,lessthan100K,55.0,N,0,0,...,Y,7,0,0,1000025,1000025,3 days,0,0,0
19,0,0,M,D,0,lessthan100K,24.0,N,0,0,...,Y,14,0,0,55025,55025,1 days,0,0,0
20,0,0,0,E,0,lessthan100K,73.0,0,A,0,...,N,19,0,200000,0,200000,68 days,0,0,Y
21,0,L,0,0,O,100K-lessthan200K,62.0,0,0,0,...,N,8,0,1000000,0,1000000,0 days,0,0,0
22,0,0,M,D,0,200KandAbove,37.0,Y,0,0,...,Y,7,0,0,1000000,1000000,0 days,0,0,0
23,0,L,0,D,0,lessthan100K,40.0,N,0,0,...,Y,14,0,1000000,1000000,1000000,2 days,0,0,0
24,0,L,M,D,0,100K-lessthan200K,31.0,Y,0,0,...,Y,8,0,0,1000000,1000000,34 days,0,0,0
25,0,L,0,D,0,lessthan100K,18.0,N,0,0,...,Y,7,0,0,1000000,1000000,12 days,0,0,0
26,0,L,0,D,0,lessthan100K,27.0,0,0,0,...,N,15,0,1000000,0,1000000,4 days,0,0,0
27,0,L,0,D,0,lessthan100K,13.0,0,0,0,...,N,7,0,0,1000069,1000069,3 days,0,0,0
28,0,0,R,0,0,100K-lessthan200K,67.0,N,0,F,...,Y,26,0,5000000,0,5000000,184 days,0,0,0
29,C,0,0,H,O,200KandAbove,38.0,Y,0,0,...,Y,14,0,500000,0,500000,259 days,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14387,0,L,0,D,0,lessthan100K,23.0,N,0,0,...,Y,9,0,0,1000000,1000000,2 days,0,0,0
14388,0,0,O,E,0,lessthan100K,62.0,0,0,0,...,N,19,0,1000000,0,1000000,41 days,0,0,Y
14389,0,L,0,D,0,200KandAbove,37.0,N,A,0,...,Y,7,0,0,1000000,1000000,155 days,0,0,0
14390,0,0,M,D,0,200KandAbove,40.0,N,0,0,...,Y,8,0,0,1000000,1000000,1 days,0,0,0
14391,0,0,M,D,0,100K-lessthan200K,66.0,N,0,0,...,Y,4,1000000,0,0,1000000,0 days,0,0,0
14392,0,0,0,D,0,lessthan100K,11.0,0,A,0,...,N,18,20000,40000,0,20000,3 days,0,0,0
14393,0,0,R,0,O,lessthan100K,35.0,0,0,0,...,N,26,0,1000000,0,1000000,170 days,0,0,0
14394,0,0,R,0,O,100K-lessthan200K,38.0,0,0,0,...,N,8,0,0,50000000,50000000,230 days,0,0,0
14395,0,0,M,D,0,lessthan100K,26.0,N,0,0,...,Y,7,0,0,1000000,1000000,11 days,0,0,0
14396,0,0,M Q,D,0,100K-lessthan200K,65.0,N,0,0,...,Y,26,0,0,1000000,1000000,15 days,0,0,0
14397,0,L,0,C,0,lessthan100K,46.0,Y,0,0,...,Y,26,0,300000,300000,300000,174 days,0,0,0
14398,0,0,R,E,0,lessthan100K,28.0,0,0,0,...,N,22,0,5000000,0,5000000,7 days,0,0,Y
14399,0,0,M,0,0,lessthan100K,35.0,Y,0,F,...,Y,7,0,0,1000000,1000000,0 days,0,0,0
14400,0,0,0,D,0,200KandAbove,79.0,0,A,0,...,N,7,0,0,500001,500001,0 days,0,0,0
14401,0,L,R,0,O,100K-lessthan200K,71.0,0,0,0,...,N,13,0,2000000,0,2000000,3 days,0,0,0
14402,0,0,0,D,0,200KandAbove,23.0,N,A,0,...,Y,6,0,0,300000,300000,5 days,0,0,0
14403,0,0,R,0,O,lessthan100K,13.0,0,0,0,...,N,26,0,1000000,1000000,1000000,106 days,0,0,0
14404,0,0,M,D,0,lessthan100K,28.0,N,0,0,...,Y,7,0,0,1000000,1000000,41 days,0,0,0
14405,0,0,M,D,0,lessthan100K,54.0,Y,0,0,...,Y,7,0,1000000,1000000,1000000,4 days,0,0,0
14406,0,H,R,0,O,100K-lessthan200K,60.0,N,0,0,...,Y,14,0,1000000,0,1000000,1 days,0,0,0
14407,0,0,M,D,0,100K-lessthan200K,19.0,0,0,0,...,N,7,0,0,1000000,1000000,1 days,0,0,0
14408,0,0,M,D,0,lessthan100K,44.0,0,0,0,...,N,7,0,0,1000000,1000000,4 days,0,0,0
14409,0,0,R,0,O,lessthan100K,11.0,0,0,0,...,N,9,0,300000,0,300000,48 days,0,0,0
14410,0,0,M P,D,0,100K-lessthan200K,43.0,N,0,0,...,Y,8,0,0,1000000,1000000,1 days,0,0,0
14411,E,0,0,0,O,lessthan100K,82.0,0,0,0,...,N,8,0,500000,0,500000,7 days,0,0,0
14412,0,0,M,D,0,100K-lessthan200K,43.0,N,0,0,...,Y,8,0,0,1000000,1000000,4 days,0,0,0
14413,0,0,0,D,0,200KandAbove,52.0,N,A,0,...,Y,14,0,1000000,0,1000000,159 days,0,0,0
14414,0,L,R,D,0,100K-lessthan200K,61.0,N,0,0,...,Y,7,0,0,1000025,1000025,1 days,0,0,0
14415,0,0,R,0,0,lessthan100K,47.0,N,0,F,...,Y,26,0,1000000,0,1000000,321 days,0,0,0
14416,0,0,0,D,0,200KandAbove,14.0,0,A,0,...,N,7,0,500002,0,500002,1 days,0,0,0

In [110]:
result.isna().sum()

other_professional_liability                  0
medical_professional_liability                0
medical_professional_liability_2              0
General_liability                             0
automobile_liability                          0
ClaimSize                                     0
Age_Injured                                   0
Work_related_injury_status                    0
Death                                         0
Falls                                         0
Non_economicloss                              0
Exemplarydamages                              0
WhetherPrimaFacie_JointandSeveralLiability    0
WorkersCompAvailability                       0
CollateralSourcesAvailability                 0
MedicalInsurance                              0
Anyothercontributors                          0
AnyMultipleInterestedparties                  0
PrimaFacie_percentagefault_injured            0
PrimaFacie_percentagefault_insured            0
PrimaFacie_percentagefault_otherinsured       0
PrimaFacie_percentagefault_uninsured          0
Employment_status                             0
BusinessClass                                 0
Perperson_Policylimit                         0
PerOccurrence_PolicyLimit                     0
CombinedSingleLimit                           0
PolicyLimitPerInjury                          0
differnce_injured date_Date_reported          0
DisabilityInsurance                           0
SocialSecurityBenefits                        0
Medicare_Medicaid                             0
dtype: int64

In [111]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14417 entries, 0 to 14416
Data columns (total 32 columns):
other_professional_liability                  14417 non-null object
medical_professional_liability                14417 non-null object
medical_professional_liability_2              14417 non-null object
General_liability                             14417 non-null object
automobile_liability                          14417 non-null object
ClaimSize                                     14417 non-null object
Age_Injured                                   14417 non-null float64
Work_related_injury_status                    14417 non-null object
Death                                         14417 non-null object
Falls                                         14417 non-null object
Non_economicloss                              14417 non-null object
Exemplarydamages                              14417 non-null object
WhetherPrimaFacie_JointandSeveralLiability    14417 non-null object
WorkersCompAvailability                       14417 non-null object
CollateralSourcesAvailability                 14417 non-null object
MedicalInsurance                              14417 non-null object
Anyothercontributors                          14417 non-null int64
AnyMultipleInterestedparties                  14417 non-null int64
PrimaFacie_percentagefault_injured            14417 non-null int64
PrimaFacie_percentagefault_insured            14417 non-null int64
PrimaFacie_percentagefault_otherinsured       14417 non-null int64
PrimaFacie_percentagefault_uninsured          14417 non-null int64
Employment_status                             14417 non-null object
BusinessClass                                 14417 non-null int64
Perperson_Policylimit                         14417 non-null int64
PerOccurrence_PolicyLimit                     14417 non-null int64
CombinedSingleLimit                           14417 non-null int64
PolicyLimitPerInjury                          14417 non-null int64
differnce_injured date_Date_reported          14417 non-null timedelta64[ns]
DisabilityInsurance                           14417 non-null object
SocialSecurityBenefits                        14417 non-null object
Medicare_Medicaid                             14417 non-null object
dtypes: float64(1), int64(11), object(19), timedelta64[ns](1)
memory usage: 3.6+ MB

In [112]:
from sklearn import preprocessing
encoder = preprocessing.LabelEncoder()

In [113]:
labels =result['other_professional_liability'].astype('category').cat.categories.tolist()
replace_map_comp = {'other_professional_liability' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}

print(replace_map_comp)

{'other_professional_liability': {0: 1, 'B': 2, 'BC': 3, 'BD': 4, 'C': 5, 'CD': 6, 'D': 7, 'DE': 8, 'E': 9}}

In [114]:
result.replace(replace_map_comp, inplace=True)

print(result.head())

   other_professional_liability medical_professional_liability  \
0                             1                              L
1                             1                              0
2                             1                              0
3                             1                              0
4                             1                              L

  medical_professional_liability_2 General_liability automobile_liability  \
0                                0                 0                    0
1                                R                 D                    0
2                                M                 D                    0
3                                0                 E                    0
4                                0                 D                    0

      ClaimSize  Age_Injured Work_related_injury_status Death Falls  \
0  lessthan100K         59.0                          N     0     F
1  lessthan100K         37.0                          N     0     0
2  lessthan100K         37.0                          N     0     0
3  200KandAbove         16.0                          0     A     0
4  lessthan100K         52.0                          0     0     0

         ...         Employment_status BusinessClass Perperson_Policylimit  \
0        ...                         Y            17                     0
1        ...                         Y             9                     0
2        ...                         Y             6                     0
3        ...                         N            20                     0
4        ...                         N             6                     0

  PerOccurrence_PolicyLimit CombinedSingleLimit PolicyLimitPerInjury  \
0                         0             5000000              5000000
1                   5000000                   0              5000000
2                         0             5000000              5000000
3                   1000000             3000000              1000000
4                   1000000                   0              1000000

   differnce_injured date_Date_reported  DisabilityInsurance  \
0                               14 days                    0
1                                4 days                    0
2                               13 days                    0
3                                2 days                    0
4                                1 days                    0

   SocialSecurityBenefits  Medicare_Medicaid
0                       0                  0
1                       0                  0
2                       0                  0
3                       0                  0
4                       0                  0

[5 rows x 32 columns]

In [115]:
labels =result['medical_professional_liability'].astype('category').cat.categories.tolist()
replace_map_comp = {'medical_professional_liability' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}

result.replace(replace_map_comp, inplace=True)
print(result.head())

   other_professional_liability  medical_professional_liability  \
0                             1                              30
1                             1                               1
2                             1                               1
3                             1                               1
4                             1                              30

  medical_professional_liability_2 General_liability automobile_liability  \
0                                0                 0                    0
1                                R                 D                    0
2                                M                 D                    0
3                                0                 E                    0
4                                0                 D                    0

      ClaimSize  Age_Injured Work_related_injury_status Death Falls  \
0  lessthan100K         59.0                          N     0     F
1  lessthan100K         37.0                          N     0     0
2  lessthan100K         37.0                          N     0     0
3  200KandAbove         16.0                          0     A     0
4  lessthan100K         52.0                          0     0     0

         ...         Employment_status BusinessClass Perperson_Policylimit  \
0        ...                         Y            17                     0
1        ...                         Y             9                     0
2        ...                         Y             6                     0
3        ...                         N            20                     0
4        ...                         N             6                     0

  PerOccurrence_PolicyLimit CombinedSingleLimit PolicyLimitPerInjury  \
0                         0             5000000              5000000
1                   5000000                   0              5000000
2                         0             5000000              5000000
3                   1000000             3000000              1000000
4                   1000000                   0              1000000

   differnce_injured date_Date_reported  DisabilityInsurance  \
0                               14 days                    0
1                                4 days                    0
2                               13 days                    0
3                                2 days                    0
4                                1 days                    0

   SocialSecurityBenefits  Medicare_Medicaid
0                       0                  0
1                       0                  0
2                       0                  0
3                       0                  0
4                       0                  0

[5 rows x 32 columns]

In [116]:
result["medical_professional_liability"].value_counts()

1     8934
30    5008
2       90
18      76
10      65
28      44
24      41
9       32
25      32
29      26
17      18
27      16
23       6
15       4
21       3
12       2
11       2
7        2
26       2
22       2
14       2
6        2
16       1
5        1
13       1
4        1
20       1
3        1
19       1
8        1
Name: medical_professional_liability, dtype: int64

In [117]:
labels =result['medical_professional_liability_2'].astype('category').cat.categories.tolist()
replace_map_comp = {'medical_professional_liability_2' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}

result.replace(replace_map_comp, inplace=True)
print(result.head())

   other_professional_liability  medical_professional_liability  \
0                             1                              30
1                             1                               1
2                             1                               1
3                             1                               1
4                             1                              30

   medical_professional_liability_2 General_liability automobile_liability  \
0                                 1                 0                    0
1                                36                 D                    0
2                                 2                 D                    0
3                                 1                 E                    0
4                                 1                 D                    0

      ClaimSize  Age_Injured Work_related_injury_status Death Falls  \
0  lessthan100K         59.0                          N     0     F
1  lessthan100K         37.0                          N     0     0
2  lessthan100K         37.0                          N     0     0
3  200KandAbove         16.0                          0     A     0
4  lessthan100K         52.0                          0     0     0

         ...         Employment_status BusinessClass Perperson_Policylimit  \
0        ...                         Y            17                     0
1        ...                         Y             9                     0
2        ...                         Y             6                     0
3        ...                         N            20                     0
4        ...                         N             6                     0

  PerOccurrence_PolicyLimit CombinedSingleLimit PolicyLimitPerInjury  \
0                         0             5000000              5000000
1                   5000000                   0              5000000
2                         0             5000000              5000000
3                   1000000             3000000              1000000
4                   1000000                   0              1000000

   differnce_injured date_Date_reported  DisabilityInsurance  \
0                               14 days                    0
1                                4 days                    0
2                               13 days                    0
3                                2 days                    0
4                                1 days                    0

   SocialSecurityBenefits  Medicare_Medicaid
0                       0                  0
1                       0                  0
2                       0                  0
3                       0                  0
4                       0                  0

[5 rows x 32 columns]

In [118]:
labels =result['General_liability'].astype('category').cat.categories.tolist()
replace_map_comp = {'General_liability' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}

result.replace(replace_map_comp, inplace=True)
print(result.head())

   other_professional_liability  medical_professional_liability  \
0                             1                              30
1                             1                               1
2                             1                               1
3                             1                               1
4                             1                              30

   medical_professional_liability_2  General_liability automobile_liability  \
0                                 1                  1                    0
1                                36                 10                    0
2                                 2                 10                    0
3                                 1                 16                    0
4                                 1                 10                    0

      ClaimSize  Age_Injured Work_related_injury_status Death Falls  \
0  lessthan100K         59.0                          N     0     F
1  lessthan100K         37.0                          N     0     0
2  lessthan100K         37.0                          N     0     0
3  200KandAbove         16.0                          0     A     0
4  lessthan100K         52.0                          0     0     0

         ...         Employment_status BusinessClass Perperson_Policylimit  \
0        ...                         Y            17                     0
1        ...                         Y             9                     0
2        ...                         Y             6                     0
3        ...                         N            20                     0
4        ...                         N             6                     0

  PerOccurrence_PolicyLimit CombinedSingleLimit PolicyLimitPerInjury  \
0                         0             5000000              5000000
1                   5000000                   0              5000000
2                         0             5000000              5000000
3                   1000000             3000000              1000000
4                   1000000                   0              1000000

   differnce_injured date_Date_reported  DisabilityInsurance  \
0                               14 days                    0
1                                4 days                    0
2                               13 days                    0
3                                2 days                    0
4                                1 days                    0

   SocialSecurityBenefits  Medicare_Medicaid
0                       0                  0
1                       0                  0
2                       0                  0
3                       0                  0
4                       0                  0

[5 rows x 32 columns]

In [119]:
labels =result['automobile_liability'].astype('category').cat.categories.tolist()
replace_map_comp = {'automobile_liability' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}

result.replace(replace_map_comp, inplace=True)

In [120]:
labels =result['ClaimSize'].astype('category').cat.categories.tolist()
replace_map_comp = {'ClaimSize' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}

result.replace(replace_map_comp, inplace=True)
print(result.head())

   other_professional_liability  medical_professional_liability  \
0                             1                              30
1                             1                               1
2                             1                               1
3                             1                               1
4                             1                              30

   medical_professional_liability_2  General_liability  automobile_liability  \
0                                 1                  1                     1
1                                36                 10                     1
2                                 2                 10                     1
3                                 1                 16                     1
4                                 1                 10                     1

   ClaimSize  Age_Injured Work_related_injury_status Death Falls  \
0          3         59.0                          N     0     F
1          3         37.0                          N     0     0
2          3         37.0                          N     0     0
3          2         16.0                          0     A     0
4          3         52.0                          0     0     0

         ...         Employment_status BusinessClass Perperson_Policylimit  \
0        ...                         Y            17                     0
1        ...                         Y             9                     0
2        ...                         Y             6                     0
3        ...                         N            20                     0
4        ...                         N             6                     0

  PerOccurrence_PolicyLimit CombinedSingleLimit PolicyLimitPerInjury  \
0                         0             5000000              5000000
1                   5000000                   0              5000000
2                         0             5000000              5000000
3                   1000000             3000000              1000000
4                   1000000                   0              1000000

   differnce_injured date_Date_reported  DisabilityInsurance  \
0                               14 days                    0
1                                4 days                    0
2                               13 days                    0
3                                2 days                    0
4                                1 days                    0

   SocialSecurityBenefits  Medicare_Medicaid
0                       0                  0
1                       0                  0
2                       0                  0
3                       0                  0
4                       0                  0

[5 rows x 32 columns]

In [121]:
print(result.head())

   other_professional_liability  medical_professional_liability  \
0                             1                              30
1                             1                               1
2                             1                               1
3                             1                               1
4                             1                              30

   medical_professional_liability_2  General_liability  automobile_liability  \
0                                 1                  1                     1
1                                36                 10                     1
2                                 2                 10                     1
3                                 1                 16                     1
4                                 1                 10                     1

   ClaimSize  Age_Injured Work_related_injury_status Death Falls  \
0          3         59.0                          N     0     F
1          3         37.0                          N     0     0
2          3         37.0                          N     0     0
3          2         16.0                          0     A     0
4          3         52.0                          0     0     0

         ...         Employment_status BusinessClass Perperson_Policylimit  \
0        ...                         Y            17                     0
1        ...                         Y             9                     0
2        ...                         Y             6                     0
3        ...                         N            20                     0
4        ...                         N             6                     0

  PerOccurrence_PolicyLimit CombinedSingleLimit PolicyLimitPerInjury  \
0                         0             5000000              5000000
1                   5000000                   0              5000000
2                         0             5000000              5000000
3                   1000000             3000000              1000000
4                   1000000                   0              1000000

   differnce_injured date_Date_reported  DisabilityInsurance  \
0                               14 days                    0
1                                4 days                    0
2                               13 days                    0
3                                2 days                    0
4                                1 days                    0

   SocialSecurityBenefits  Medicare_Medicaid
0                       0                  0
1                       0                  0
2                       0                  0
3                       0                  0
4                       0                  0

[5 rows x 32 columns]

In [122]:
labels=result['Work_related_injury_status'].astype('category').cat.categories.tolist()
replace_map_comp = {'Work_related_injury_status' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
result.replace(replace_map_comp, inplace=True)

In [123]:
labels =result['Death'].astype('category').cat.categories.tolist()
replace_map_comp = {'Death' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
result.replace(replace_map_comp, inplace=True)

In [124]:
labels =result['Falls'].astype('category').cat.categories.tolist()
replace_map_comp = {'Falls' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
result.replace(replace_map_comp, inplace=True)

In [125]:
labels =result['Exemplarydamages'].astype('category').cat.categories.tolist()
replace_map_comp = {'Exemplarydamages' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
result.replace(replace_map_comp, inplace=True)

In [126]:
labels =result['WhetherPrimaFacie_JointandSeveralLiability'].astype('category').cat.categories.tolist()
replace_map_comp = {'WhetherPrimaFacie_JointandSeveralLiability' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
result.replace(replace_map_comp, inplace=True)

In [127]:

labels =result['WorkersCompAvailability'].astype('category').cat.categories.tolist()
replace_map_comp = {'WorkersCompAvailability' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
result.replace(replace_map_comp, inplace=True)

In [128]:
labels =result['CollateralSourcesAvailability'].astype('category').cat.categories.tolist()
replace_map_comp = {'CollateralSourcesAvailability' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
result.replace(replace_map_comp, inplace=True)

In [129]:
labels =result['MedicalInsurance'].astype('category').cat.categories.tolist()
replace_map_comp = {'MedicalInsurance' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
result.replace(replace_map_comp, inplace=True)

In [130]:
labels =result['Employment_status'].astype('category').cat.categories.tolist()
replace_map_comp = {'Employment_status' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
result.replace(replace_map_comp, inplace=True)

print(result.head())

   other_professional_liability  medical_professional_liability  \
0                             1                              30
1                             1                               1
2                             1                               1
3                             1                               1
4                             1                              30

   medical_professional_liability_2  General_liability  automobile_liability  \
0                                 1                  1                     1
1                                36                 10                     1
2                                 2                 10                     1
3                                 1                 16                     1
4                                 1                 10                     1

   ClaimSize  Age_Injured  Work_related_injury_status  Death  Falls  \
0          3         59.0                           2      1      2
1          3         37.0                           2      1      1
2          3         37.0                           2      1      1
3          2         16.0                           1      2      1
4          3         52.0                           1      1      1

         ...         Employment_status  BusinessClass  Perperson_Policylimit  \
0        ...                         2             17                      0
1        ...                         2              9                      0
2        ...                         2              6                      0
3        ...                         1             20                      0
4        ...                         1              6                      0

   PerOccurrence_PolicyLimit  CombinedSingleLimit  PolicyLimitPerInjury  \
0                          0              5000000               5000000
1                    5000000                    0               5000000
2                          0              5000000               5000000
3                    1000000              3000000               1000000
4                    1000000                    0               1000000

   differnce_injured date_Date_reported  DisabilityInsurance  \
0                               14 days                    0
1                                4 days                    0
2                               13 days                    0
3                                2 days                    0
4                                1 days                    0

   SocialSecurityBenefits  Medicare_Medicaid
0                       0                  0
1                       0                  0
2                       0                  0
3                       0                  0
4                       0                  0

[5 rows x 32 columns]

In [131]:
labels =result['Non_economicloss'].astype('category').cat.categories.tolist()
replace_map_comp = {'Non_economicloss' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
result.replace(replace_map_comp, inplace=True)

In [132]:
print(result.head())

   other_professional_liability  medical_professional_liability  \
0                             1                              30
1                             1                               1
2                             1                               1
3                             1                               1
4                             1                              30

   medical_professional_liability_2  General_liability  automobile_liability  \
0                                 1                  1                     1
1                                36                 10                     1
2                                 2                 10                     1
3                                 1                 16                     1
4                                 1                 10                     1

   ClaimSize  Age_Injured  Work_related_injury_status  Death  Falls  \
0          3         59.0                           2      1      2
1          3         37.0                           2      1      1
2          3         37.0                           2      1      1
3          2         16.0                           1      2      1
4          3         52.0                           1      1      1

         ...          Employment_status  BusinessClass  Perperson_Policylimit  \
0        ...                          2             17                      0
1        ...                          2              9                      0
2        ...                          2              6                      0
3        ...                          1             20                      0
4        ...                          1              6                      0

   PerOccurrence_PolicyLimit  CombinedSingleLimit  PolicyLimitPerInjury  \
0                          0              5000000               5000000
1                    5000000                    0               5000000
2                          0              5000000               5000000
3                    1000000              3000000               1000000
4                    1000000                    0               1000000

   differnce_injured date_Date_reported  DisabilityInsurance  \
0                               14 days                    0
1                                4 days                    0
2                               13 days                    0
3                                2 days                    0
4                                1 days                    0

   SocialSecurityBenefits  Medicare_Medicaid
0                       0                  0
1                       0                  0
2                       0                  0
3                       0                  0
4                       0                  0

[5 rows x 32 columns]

In [133]:
labels =result['DisabilityInsurance'].astype('category').cat.categories.tolist()
replace_map_comp = {'DisabilityInsurance' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
result.replace(replace_map_comp, inplace=True)

In [134]:
labels =result['SocialSecurityBenefits'].astype('category').cat.categories.tolist()
replace_map_comp = {'SocialSecurityBenefits' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
result.replace(replace_map_comp, inplace=True)

In [135]:
labels =result['Medicare_Medicaid'].astype('category').cat.categories.tolist()
replace_map_comp = {'Medicare_Medicaid' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
result.replace(replace_map_comp, inplace=True)

In [136]:
result["differnce_injured date_Date_reported"]=result["differnce_injured date_Date_reported"].astype("object")
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14417 entries, 0 to 14416
Data columns (total 32 columns):
other_professional_liability                  14417 non-null int64
medical_professional_liability                14417 non-null int64
medical_professional_liability_2              14417 non-null int64
General_liability                             14417 non-null int64
automobile_liability                          14417 non-null int64
ClaimSize                                     14417 non-null int64
Age_Injured                                   14417 non-null float64
Work_related_injury_status                    14417 non-null int64
Death                                         14417 non-null int64
Falls                                         14417 non-null int64
Non_economicloss                              14417 non-null int64
Exemplarydamages                              14417 non-null int64
WhetherPrimaFacie_JointandSeveralLiability    14417 non-null int64
WorkersCompAvailability                       14417 non-null int64
CollateralSourcesAvailability                 14417 non-null int64
MedicalInsurance                              14417 non-null int64
Anyothercontributors                          14417 non-null int64
AnyMultipleInterestedparties                  14417 non-null int64
PrimaFacie_percentagefault_injured            14417 non-null int64
PrimaFacie_percentagefault_insured            14417 non-null int64
PrimaFacie_percentagefault_otherinsured       14417 non-null int64
PrimaFacie_percentagefault_uninsured          14417 non-null int64
Employment_status                             14417 non-null int64
BusinessClass                                 14417 non-null int64
Perperson_Policylimit                         14417 non-null int64
PerOccurrence_PolicyLimit                     14417 non-null int64
CombinedSingleLimit                           14417 non-null int64
PolicyLimitPerInjury                          14417 non-null int64
differnce_injured date_Date_reported          14417 non-null object
DisabilityInsurance                           14417 non-null int64
SocialSecurityBenefits                        14417 non-null int64
Medicare_Medicaid                             14417 non-null int64
dtypes: float64(1), int64(30), object(1)
memory usage: 3.6+ MB

In [137]:
#stripping of days from day
result['differnce_injured date_Date_reported']=result['differnce_injured date_Date_reported'] /pd.Timedelta(1, unit='d')
result['differnce_injured date_Date_reported'].astype('timedelta64[D]')

0        14 days
1         4 days
2        13 days
3         2 days
4         1 days
5         1 days
6         0 days
7        28 days
8         1 days
9         3 days
10        7 days
11        9 days
12        0 days
13      122 days
14        3 days
15      262 days
16      258 days
17        3 days
18        3 days
19        1 days
20       68 days
21        0 days
22        0 days
23        2 days
24       34 days
25       12 days
26        4 days
27        3 days
28      184 days
29      259 days
          ...
14387     2 days
14388    41 days
14389   155 days
14390     1 days
14391     0 days
14392     3 days
14393   170 days
14394   230 days
14395    11 days
14396    15 days
14397   174 days
14398     7 days
14399     0 days
14400     0 days
14401     3 days
14402     5 days
14403   106 days
14404    41 days
14405     4 days
14406     1 days
14407     1 days
14408     4 days
14409    48 days
14410     1 days
14411     7 days
14412     4 days
14413   159 days
14414     1 days
14415   321 days
14416     1 days
Name: differnce_injured date_Date_reported, Length: 14417, dtype: timedelta64[ns]

In [138]:
result['differnce_injured date_Date_reported']=result['differnce_injured date_Date_reported'].astype("int64")

In [139]:
# spikey =pd.DataFrame(result[["PerOccurrence_PolicyLimit","CombinedSingleLimit","PolicyLimitPerInjury"]])
# result.drop("PerOccurrence_PolicyLimit",axis=1,inplace=True)
# result.drop("CombinedSingleLimit",axis=1,inplace=True)
# result.drop("PolicyLimitPerInjury",axis=1,inplace=True)

In [140]:
# from sklearn import preprocessing
# # Get column names first
# names = spikey.columns
# # Create the Scaler object
# scaler = preprocessing.StandardScaler()
# # Fit your data on the scaler object
# scaled_df = scaler.fit_transform( spikey)
# scaled_df = pd.DataFrame(scaled_df, columns=names)

In [141]:
result.fillna(0,axis=1,inplace=True)
result.isna().sum()

other_professional_liability                  0
medical_professional_liability                0
medical_professional_liability_2              0
General_liability                             0
automobile_liability                          0
ClaimSize                                     0
Age_Injured                                   0
Work_related_injury_status                    0
Death                                         0
Falls                                         0
Non_economicloss                              0
Exemplarydamages                              0
WhetherPrimaFacie_JointandSeveralLiability    0
WorkersCompAvailability                       0
CollateralSourcesAvailability                 0
MedicalInsurance                              0
Anyothercontributors                          0
AnyMultipleInterestedparties                  0
PrimaFacie_percentagefault_injured            0
PrimaFacie_percentagefault_insured            0
PrimaFacie_percentagefault_otherinsured       0
PrimaFacie_percentagefault_uninsured          0
Employment_status                             0
BusinessClass                                 0
Perperson_Policylimit                         0
PerOccurrence_PolicyLimit                     0
CombinedSingleLimit                           0
PolicyLimitPerInjury                          0
differnce_injured date_Date_reported          0
DisabilityInsurance                           0
SocialSecurityBenefits                        0
Medicare_Medicaid                             0
dtype: int64

In [142]:
# result[["PerOccurrence_PolicyLimit","CombinedSingleLimit","PolicyLimitPerInjury"]] =pd.DataFrame(scaled_df[["PerOccurrence_PolicyLimit","CombinedSingleLimit","PolicyLimitPerInjury"]])

# result[["differnce_injured date_Date_reported","DisabilityInsurance","DisabilityInsurance","SocialSecurityBenefits","Medicare_Medicaid","PerOccurrence_PolicyLimit","PolicyLimitPerInjury","CombinedSingleLimit","Age_Injured","Work_related_injury_status","Death","Falls","MedicalInsurance"]].astype("int64")             
#result=pd.get_dummies(result)                          
#result.info()
result.head()

,other_professional_liability,medical_professional_liability,medical_professional_liability_2,General_liability,automobile_liability,ClaimSize,Age_Injured,Work_related_injury_status,Death,Falls,...,Employment_status,BusinessClass,Perperson_Policylimit,PerOccurrence_PolicyLimit,CombinedSingleLimit,PolicyLimitPerInjury,differnce_injured date_Date_reported,DisabilityInsurance,SocialSecurityBenefits,Medicare_Medicaid
0,1,30,1,1,1,3,59.0,2,1,2,...,2,17,0,0,5000000,5000000,14,1,1,1
1,1,1,36,10,1,3,37.0,2,1,1,...,2,9,0,5000000,0,5000000,4,1,1,1
2,1,1,2,10,1,3,37.0,2,1,1,...,2,6,0,0,5000000,5000000,13,1,1,1
3,1,1,1,16,1,2,16.0,1,2,1,...,1,20,0,1000000,3000000,1000000,2,1,1,1
4,1,30,1,10,1,3,52.0,1,1,1,...,1,6,0,1000000,0,1000000,1,1,1,1

In [143]:
x=result.drop("ClaimSize",axis=1)
y=result["ClaimSize"]

In [144]:
import random 
random.seed(123)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=10)

In [145]:
x_train.shape
x_test.shape

(4758, 31)

In [146]:
model=RandomForestClassifier(n_estimators=150,max_depth=4,criterion='gini',min_samples_split=3)

In [147]:
model.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=4, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=3,
            min_weight_fraction_leaf=0.0, n_estimators=150, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [148]:
train_pred=model.predict(x_train)

In [149]:
print("Accuracy")
print(accuracy_score(train_pred,y_train))

Accuracy
0.6566932394657832

In [150]:
test_pred1=model.predict(x_test)

In [151]:
print("Accuracy")
print(accuracy_score(test_pred1,y_test))

Accuracy
0.6580496006725515

In [152]:
#import pandas as pd
h=pd.DataFrame(model.feature_importances_)

#s=pd.DataFrame(model.feature_importances_,x_train.columns)
#s

In [153]:
h.columns = ['values']

In [154]:
i=pd.DataFrame(x_train.columns)
i.columns = ['attributes_names']
i

                              attributes_names
0                 other_professional_liability
1               medical_professional_liability
2             medical_professional_liability_2
3                            General_liability
4                         automobile_liability
5                                  Age_Injured
6                   Work_related_injury_status
7                                        Death
8                                        Falls
9                             Non_economicloss
10                            Exemplarydamages
11  WhetherPrimaFacie_JointandSeveralLiability
12                     WorkersCompAvailability
13               CollateralSourcesAvailability
14                            MedicalInsurance
15                        Anyothercontributors
16                AnyMultipleInterestedparties
17          PrimaFacie_percentagefault_injured
18          PrimaFacie_percentagefault_insured
19     PrimaFacie_percentagefault_otherinsured
20        PrimaFacie_percentagefault_uninsured
21                           Employment_status
22                               BusinessClass
23                       Perperson_Policylimit
24                   PerOccurrence_PolicyLimit
25                         CombinedSingleLimit
26                        PolicyLimitPerInjury
27        differnce_injured date_Date_reported
28                         DisabilityInsurance
29                      SocialSecurityBenefits
30                           Medicare_Medicaid

In [155]:
h=pd.concat([h,i],axis=1, sort=False)
h

      values                            attributes_names
0   0.004530                other_professional_liability
1   0.146864              medical_professional_liability
2   0.169767            medical_professional_liability_2
3   0.024941                           General_liability
4   0.005718                        automobile_liability
5   0.008700                                 Age_Injured
6   0.005461                  Work_related_injury_status
7   0.186012                                       Death
8   0.018804                                       Falls
9   0.005278                            Non_economicloss
10  0.000000                            Exemplarydamages
11  0.000015  WhetherPrimaFacie_JointandSeveralLiability
12  0.007549                     WorkersCompAvailability
13  0.087276               CollateralSourcesAvailability
14  0.028663                            MedicalInsurance
15  0.009443                        Anyothercontributors
16  0.011031                AnyMultipleInterestedparties
17  0.052744          PrimaFacie_percentagefault_injured
18  0.108075          PrimaFacie_percentagefault_insured
19  0.030214     PrimaFacie_percentagefault_otherinsured
20  0.001705        PrimaFacie_percentagefault_uninsured
21  0.000547                           Employment_status
22  0.005799                               BusinessClass
23  0.000935                       Perperson_Policylimit
24  0.016577                   PerOccurrence_PolicyLimit
25  0.016545                         CombinedSingleLimit
26  0.015522                        PolicyLimitPerInjury
27  0.011146        differnce_injured date_Date_reported
28  0.000144                         DisabilityInsurance
29  0.001676                      SocialSecurityBenefits
30  0.018315                           Medicare_Medicaid

In [156]:
h=h.sort_values(["values"],ascending=False)
#df.sort(['c1','c2'], ascending=False)

In [157]:
h

      values                            attributes_names
7   0.186012                                       Death
2   0.169767            medical_professional_liability_2
1   0.146864              medical_professional_liability
18  0.108075          PrimaFacie_percentagefault_insured
13  0.087276               CollateralSourcesAvailability
17  0.052744          PrimaFacie_percentagefault_injured
19  0.030214     PrimaFacie_percentagefault_otherinsured
14  0.028663                            MedicalInsurance
3   0.024941                           General_liability
8   0.018804                                       Falls
30  0.018315                           Medicare_Medicaid
24  0.016577                   PerOccurrence_PolicyLimit
25  0.016545                         CombinedSingleLimit
26  0.015522                        PolicyLimitPerInjury
27  0.011146        differnce_injured date_Date_reported
16  0.011031                AnyMultipleInterestedparties
15  0.009443                        Anyothercontributors
5   0.008700                                 Age_Injured
12  0.007549                     WorkersCompAvailability
22  0.005799                               BusinessClass
4   0.005718                        automobile_liability
6   0.005461                  Work_related_injury_status
9   0.005278                            Non_economicloss
0   0.004530                other_professional_liability
20  0.001705        PrimaFacie_percentagefault_uninsured
29  0.001676                      SocialSecurityBenefits
23  0.000935                       Perperson_Policylimit
21  0.000547                           Employment_status
28  0.000144                         DisabilityInsurance
11  0.000015  WhetherPrimaFacie_JointandSeveralLiability
10  0.000000                            Exemplarydamages

In [158]:
#colums_to_be_merged=["Death","medical_professional_liability_2","medical_professional_liability","PrimaFacie_percentagefault_insured","CollateralSourcesAvailability","PrimaFacie_percentagefault_injured","MedicalInsurance","General_liability","Falls","Medicare_Medicaid","PolicyLimitPerInjury","Anyothercontributors","CombinedSingleLimit","differnce_injured date_Date_reported","AnyMultipleInterestedparties"]

In [159]:
colums_to_be_merged
len(colums_to_be_merged)

NameError: name 'colums_to_be_merged' is not defined

In [ ]:
rfc = RandomForestClassifier(bootstrap=False, class_weight=None, criterion='gini',
            max_depth=15, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=2, min_samples_split=7,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)
#rfc=RandomForestClassifier(n_estimators=150,max_depth=4,criterion='gini',min_samples_split=3)

In [ ]:
rfc.fit(x_train,y_train)

In [ ]:
train_pred2=rfc.predict(x_train)

In [ ]:
print("Accuracy")
print(accuracy_score(train_pred2,y_train))

In [ ]:
test_pred2=rfc.predict(x_test)

In [ ]:
print("Accuracy")
print(accuracy_score(test_pred2,y_test))

In [ ]:
#from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.model_selection import GridSearchCV

In [ ]:
# params = {'bootstrap': [True, False],
#  'max_depth': [3,4,5,10,None],
#  'max_features': ['auto', 'sqrt'],
#  'min_samples_leaf': [1, 2, 4],
#  'min_samples_split': [2, 5, 10],
#  'n_estimators': [150,200,400,600]}
# CV_rfc = GridSearchCV(estimator=rfc, param_grid=params, cv= 5)
# CV_rfc.fit(x_train,y_train)
# print('\n',CV_rfc.best_estimator_)
# print(CV_rfc.best_score_)

In [ ]:
# {'bootstrap': [True, False],
#  'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
#  'max_features': ['auto', 'sqrt'],
#  'min_samples_leaf': [1, 2, 4],
#  'min_samples_split': [2, 5, 10],
#  'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

In [ ]:
# from sklearn.model_selection import RandomizedSearchCV

# #Fit the random search model
# rfc.fit(x_train[colums_to_be_merged],y_train)

# cross validation using random forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [ ]:
# rf_class_kfold = RandomForestClassifier(n_estimators=120)
# number_of_folds=20

# print("Random Forests: ")
# print(cross_val_score(rf_class_kfold, x_train, y_train, scoring='accuracy', cv = number_of_folds))
# accuracy = cross_val_score(rf_class_kfold, x_train, y_train, scoring='accuracy', cv = number_of_folds).mean() * 100
# print("Accuracy of Random Forests using K-fold cross validation is: " , accuracy)

In [ ]:
 Building xg boast model

In [ ]:
from xgboost import XGBClassifier
model4= XGBClassifier(n_estimators=150,learning_rate=0.4,gamma=0.1)

In [ ]:
# model4.fit(x_train,y_train)

In [ ]:
# pred_train3=model4.predict(x_train)

In [ ]:
# print("accuracy")
# print(accuracy_score(pred_train3,y_train))

In [ ]:
# pred_test3=model4.predict(x_test)

In [ ]:
print("accuracy")
print(accuracy_score(pred_test3,y_test))

In [ ]:
# params = {"max_depth": [3,6,9,12,None],'n_estimators': [100, 250],
#               "max_features": [13, 3, 10],
#               #"min_samples_split": [1,3,10],
#               'subsample': [0.9, 1.0],'colsample_bytree': [0.9, 1.0],}
# CV_rfc = GridSearchCV(estimator=model4, param_grid=params, cv= 5)
# CV_rfc.fit(x_train,y_train)
# print('\n',CV_rfc.best_estimator_)
# print(CV_rfc.best_score_)

In [ ]:
rf_class_kfold =XGBClassifier(n_estimators=120)
number_of_folds=20

print("XGB")
print(cross_val_score(rf_class_kfold, x_train[colums_to_be_merged], y_train, scoring='accuracy', cv = number_of_folds))
accuracy = cross_val_score(rf_class_kfold, x_train[colums_to_be_merged], y_train, scoring='accuracy', cv = number_of_folds).mean() * 100
print("Accuracy of Random Forests using K-fold cross validation is: " , accuracy)